<ng-container *ngFor="let message of messages">
  <div class="branch"
       [class.branch-root]="!message.parent"
       [class.msg-starred]="message.isStarred"
       *ngIf="message != null">

    <ng-container [ngSwitch]="message.display">

      <!-- Обычное сообщение (MessageDisplayType.NORMAL) -->
      <div *ngSwitchCase="0"
           class="message"
           [class.message__selected]="message === channelService.selectedMessage"
           [class.message__editing]="message === channelService.selectedMessage && channelService.selectedMessageEditing"
           [class.message__hover-by-child]="message.isHoverByChild"
           (mouseenter)="onMessageHover(message, true)"
           (mouseleave)="onMessageHover(message, false)"
           (click)="onMessageClick(message)">

        <img class="avatar" [src]="'https://plllasma.com/i/' + message.icon +'.gif'" />
        <a class="nick"
           [routerLink]="'/members/' + message.nick"
           target="_blank"
           [class.star]="message.isStarred">{{message.nick}}</a>

        <!-- Оригинал сообщения юзер НЕ видит когда выделит своё собственное сообщение -->
        <ng-container *ngIf="!(message === channelService.selectedMessage && channelService.selectedMessageEditing)">
          <p *ngIf="!!message.text" [innerHTML]="message.text | linky | newline"></p>
        </ng-container>
        <!-- Юзер выделил своё собственное сообщение. Покажем его в режиме редактирования. -->
        <p *ngIf="message === channelService.selectedMessage && channelService.selectedMessageEditing"
           class="editable" tabindex="1" autofocus contenteditable="true" [(ngModel)]="message.text"></p>

        <div *ngIf="message.attachments">
          <a *ngFor="let attachment of message.attachments"
             class="attachment" target="_blank"
             [href]="'../api/file.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id">
            <img [src]="'../api/i.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id" loading="lazy" />
          </a>
        </div>

        <div class="likes" (click)="onMessageClick(message)" *ngIf="message !== channelService.selectedMessage">
          <span *ngIf="message.sps">спс{{message.sps}}</span>
          <span *ngIf="message.heh">хе{{message.heh}}</span>
          <span *ngIf="message.nep">неп{{message.nep}}</span>
          <span *ngIf="message.ogo">ОГО{{message.ogo}}</span>
        </div>

        <!-- Инструменты реагирования на чужое сообщение - лайки, ответ, тд -->
        <ng-container *ngIf="message === channelService.selectedMessage && !channelService.selectedMessageEditing">

          <div class="message-actions" [class.liked]="!!message.myLike">
            <a href class="like-button" [class.selected]="message.myLike === 'sps'" (click)="onLikeClick($event, message, 'sps')" title="Спасиба">👍<ng-container *ngIf="message.sps"> {{message.sps}}</ng-container></a>
            <a href class="like-button" [class.selected]="message.myLike === 'heh'" (click)="onLikeClick($event, message, 'heh')" title="Хе-хе">😄<ng-container *ngIf="message.heh"> {{message.heh}}</ng-container></a>
            <a href class="like-button" [class.selected]="message.myLike === 'nep'" (click)="onLikeClick($event, message, 'nep')" title="Непонятно">🤔<ng-container *ngIf="message.nep"> {{message.nep}}</ng-container></a>
            <a href class="like-button" [class.selected]="message.myLike === 'ogo'" (click)="onLikeClick($event, message, 'ogo')" title="ОГО">😵<ng-container *ngIf="message.ogo"> {{message.ogo}}</ng-container></a>
            <div class="message-date">{{message.timeCreated | plasmadate}}</div>
          </div>

          <div class="reply">
            <app-message-form-2 [channelId]="placeId"
                                [parentMessage]="message"
                                [replyMode]="true"
                                (onPost)="onNewMessageCreated()">
            </app-message-form-2>
          </div>

        </ng-container>

        <!-- Инструменты отправки исправленного сообщения -->
        <div  class="tools-edit" *ngIf="message === channelService.selectedMessage && channelService.selectedMessageEditing">
          <ng-container *ngIf="!isSending">
            <a href (click)="onCancelEditClick($event)">Отменить</a>
            <button (click)="onSaveEditClick()">Сохранить</button>
          </ng-container>
          <div class="spinner" *ngIf="isSending">Загрузка</div>
        </div>

      </div>

      <!-- Серое сообщение (MessageDisplayType.GRAY) -->
      <div *ngSwitchCase="1"
           class="message message-gray"
           [class.message__hover-by-child]="message.isHoverByChild"
           (mouseenter)="onMessageHover(message, true)"
           (mouseleave)="onMessageHover(message, false)"
           (click)="unfoldGray($event, message)">

        <img class="avatar" [src]="'https://plllasma.com/i/' + message.icon +'.gif'">
        <a class="nick"
           [routerLink]="'/members/' + message.nick"
           target="_blank"
           [class.star]="message.isStarred">{{message.nick}}</a>
        <p *ngIf="!!message.text" [innerHTML]="message.text | linky: true | linksToStubs | shorten"></p>

        <div *ngIf="message.attachments">
          <a *ngFor="let attachment of message.attachments"
             class="attachment" target="_blank"
             [href]="'../api/file.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id">
            <img [src]="'../api/i.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id" loading="lazy" />
          </a>
        </div>

      </div>

      <!-- Схлоп (MessageDisplayType.SHLOP) -->
      <a href *ngSwitchCase="10"
            class="message message-gray expand" (click)="unshlop($event, message)">
        {{(message | as : ShlopMessageRef).shlop.lengthText}}
      </a>

    </ng-container><!-- ngSwitch -->

    <app-messages *ngIf="showChildren && message.children && message.children.length > 0" [placeId]="placeId" [messages]="message.children"></app-messages>

  </div>
</ng-container>
