<ng-container *ngFor="let message of messages">
  <div class="branch"
       [class.branch-root]="!message.parent"
       [class.msg-starred]="message.isStarred"
       *ngIf="message != null">

    <ng-container [ngSwitch]="message.display">

      <!-- Обычное сообщение (MessageDisplayType.NORMAL) -->
      <div *ngSwitchCase="0"
           class="message"
           [class.message__selected]="message === channelService.selectedMessage"
           [class.message__editing]="message === channelService.selectedMessage && channelService.selectedMessage.isEditMode"
           [class.message__hover-by-child]="message.isHoverByChild"
           (mouseenter)="onMessageHover(message, true)"
           (mouseleave)="onMessageHover(message, false)"
           (click)="onMessageClick(message)">

        <img class="avatar" [src]="'https://plllasma.com/i/' + message.icon +'.gif'" />
        <a class="nick"
           [routerLink]="'/members/' + message.nick"
           target="_blank"
           [class.star]="message.isStarred">{{message.nick}}</a>

        <!-- Оригинал сообщения юзер НЕ видит когда выделит своё собственное сообщение -->
        <ng-container *ngIf="!(message === channelService.selectedMessage && channelService.selectedMessage.isEditMode)">
          <br *ngIf="!message.parent">
          <p *ngIf="!!message.text" [innerHTML]="message.text | linky | newline"></p>
        </ng-container>
        <!-- Юзер выделил своё собственное сообщение. Покажем его в режиме редактирования. -->
        <p *ngIf="message === channelService.selectedMessage && channelService.selectedMessage.isEditMode"
           class="editable" tabindex="1" autofocus contenteditable="true" [(ngModel)]="message.text"></p>

        @if (message.attachments?.length || message.newAttachments?.length) {
          <div class="att-container">
            <!-- Новые аттачменты без иконок (icon = 0) в виде списка ссылок -->
            <app-attachment-list
              [attachments]="getAttachmentsWithoutIcons(message.newAttachments)"
            >
            </app-attachment-list>

            <div *ngIf="message.attachments || (message.newAttachments && message.newAttachments.length > 0)" class="attachments">

              <!-- Старые аттачменты -->
              <a *ngFor="let attachment of message.attachments"
                 class="attachment" target="_blank"
                 [href]="'../api/file.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id">
                <img [src]="'../api/i.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id" loading="lazy" />
              </a>

              <!-- Новые аттачменты с иконками (icon > 0) -->
              <app-attachment-item *ngFor="let attachment of getAttachmentsWithIcons(message.newAttachments)"
                [attachment]="attachment"
                [placeId]="placeId">
              </app-attachment-item>
            </div>
          </div>
        }

        <div class="likes" (click)="onMessageClick(message)" *ngIf="message !== channelService.selectedMessage">
          <span *ngIf="message.sps">спс{{message.sps}}</span>
          <span *ngIf="message.heh">хе{{message.heh}}</span>
          <span *ngIf="message.nep">неп{{message.nep}}</span>
          <span *ngIf="message.ogo">ОГО{{message.ogo}}</span>
        </div>

        <!-- Инструменты реагирования на чужое сообщение - лайки, ответ, тд -->
        <ng-container *ngIf="message === channelService.selectedMessage && !message.isEditMode && !message.isReplyMode">

          <div class="message-actions">

            <ng-container *ngIf="message.nick !== this.userService.user?.nick">
              <a href class="like-button like-button-emote" [class.selected]="message.myLike === 'sps'" [class.liked]="!!message.myLike" (click)="onLikeClick($event, message, 'sps')">спс</a>
              <a href class="like-button like-button-emote" [class.selected]="message.myLike === 'heh'" [class.liked]="!!message.myLike" (click)="onLikeClick($event, message, 'heh')">хе</a>
              <a href class="like-button like-button-emote" [class.selected]="message.myLike === 'nep'" [class.liked]="!!message.myLike" (click)="onLikeClick($event, message, 'nep')">неп</a>
              <a href class="like-button like-button-emote" [class.selected]="message.myLike === 'ogo'" [class.liked]="!!message.myLike" (click)="onLikeClick($event, message, 'ogo')">ого</a>
            </ng-container>

            <ng-container *ngIf="canModerate">
              <a href class="like-button" (click)="onDeleteClick($event, message)">Удалить</a>
            </ng-container>

            <ng-container *ngIf="canModerate">
              <a href class="like-button" (click)="onKitchenClick($event, message)">В кухню</a>
            </ng-container>

            <ng-container *ngIf="canModerate && message.attachments && message.attachments.length > 0">
              <a href class="like-button" (click)="onMigrateAttachmentsClick($event, message)">new att</a>
            </ng-container>

            <a href class="like-button" (click)="onEditClick($event)" *ngIf="message.nick === this.userService.user?.nick">Исправить</a>
            <a href class="like-button" (click)="onReplyClick($event)">Написать ответ</a>

            <div class="message-date">{{message.timeCreated | plasmadate}}</div>
          </div>

        </ng-container>

        <div class="reply" *ngIf="message === channelService.selectedMessage && message.isReplyMode">
          <app-message-form [channelId]="placeId"
                              [parentMessage]="message"
                              [replyMode]="true"
                              (onPost)="onNewMessageCreated()">
          </app-message-form>
        </div>

        <!-- Инструменты отправки исправленного сообщения -->
        <div  class="tools-edit" *ngIf="message === channelService.selectedMessage && message.isEditMode">
          <ng-container *ngIf="!isSending">
            <a href (click)="onCancelEditClick($event)">Отменить</a>
            <button (click)="onSaveEditClick()">Сохранить</button>
          </ng-container>
          <div class="spinner" *ngIf="isSending">Загрузка</div>
        </div>

      </div>

      <!-- Серое сообщение (MessageDisplayType.GRAY) -->
      <div *ngSwitchCase="1"
           class="message message-gray"
           [class.message__hover-by-child]="message.isHoverByChild"
           (mouseenter)="onMessageHover(message, true)"
           (mouseleave)="onMessageHover(message, false)"
           (click)="unfoldGray($event, message)">

        <img class="avatar" [src]="'https://plllasma.com/i/' + message.icon +'.gif'">
        <a class="nick"
           [routerLink]="'/members/' + message.nick"
           target="_blank"
           [class.star]="message.isStarred">{{message.nick}}</a>
        <br *ngIf="!message.parent">
        <p *ngIf="!!message.text" [innerHTML]="message.text | linky: true | linksToStubs | shorten"></p>

        @if (message.attachments?.length || message.newAttachments?.length) {
          <div class="att-container">
            <!-- Новые аттачменты без иконок (icon = 0) в виде списка ссылок -->
            <app-attachment-list
              [attachments]="getAttachmentsWithoutIcons(message.newAttachments)"
            >
            </app-attachment-list>

            <div *ngIf="message.attachments || (message.newAttachments && message.newAttachments.length > 0)" class="attachments">

              <!-- Старые аттачменты -->
              <a *ngFor="let attachment of message.attachments"
                 class="attachment" target="_blank"
                 [href]="'../api/file.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id">
                <img [src]="'../api/i.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id" loading="lazy" />
              </a>

              <!-- Новые аттачменты с иконками (icon > 0) -->
              <app-attachment-item *ngFor="let attachment of getAttachmentsWithIcons(message.newAttachments)"
                                   [attachment]="attachment"
                                   [placeId]="placeId">
              </app-attachment-item>
            </div>
          </div>
        }

      </div>

      <!-- Схлоп (MessageDisplayType.SHLOP) -->
      <a href *ngSwitchCase="10"
            class="message message-gray expand" (click)="unshlop($event, message)">
        {{(message | as : ShlopMessageRef).shlop.lengthText}}
      </a>

    </ng-container><!-- ngSwitch -->

    <app-messages
      *ngIf="showChildren && message.children && message.children.length > 0"
      [placeId]="placeId"
      [canModerate]="canModerate"
      [messages]="message.children">
    </app-messages>

  </div>
</ng-container>
