<ng-container *ngFor="let message of messages">
  <div class="msg"
       [class.msg-root]="!message.parent"
       [class.msg-starred]="message.isStarred"
       *ngIf="message != null"
  >

    <ng-container [ngSwitch]="message.display">

      <!-- Обычное сообщение (MessageDisplayType.NORMAL) -->
      <ng-container *ngSwitchCase="0">
        <div class="text">
          <img class="ico" [src]="'https://plllasma.com/i/' + message.icon +'.gif'" />
          <b>{{message.nick}}<u *ngIf="message.isStarred"></u></b><br>
          <span *ngIf="!!message.text" [innerHTML]="message.text | linky"></span>
        </div>
        <ng-container *ngIf="message.attachments">
          <a *ngFor="let attachment of message.attachments"
             class="att" target="_blank"
             [href]="'../api/file.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id">
            <img [src]="'../api/i.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id" loading="lazy" />
          </a>
        </ng-container>
      </ng-container>

      <!-- Серое сообщение (MessageDisplayType.GRAY) -->
      <ng-container *ngSwitchCase="1">
        <div class="text text-gray" (click)="unfoldGray($event, message)">
          <img class="ico" [src]="'https://plllasma.com/i/' + message.icon +'.gif'">
          <b>{{message.nick}}<u *ngIf="message.isStarred"></u></b><br>
          <span *ngIf="!!message.text" [innerHTML]="message.text | linky"></span>
        </div>
        <ng-container *ngIf="message.attachments">
          <a *ngFor="let attachment of message.attachments"
             class="att" target="_blank"
             [href]="'../api/file.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id">
            <img [src]="'../api/i.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id" loading="lazy" />
          </a>
        </ng-container>
      </ng-container>

      <!-- Схлоп (MessageDisplayType.SHLOP) -->
      <ng-container *ngSwitchCase="10">
        <div class="text text-gray" (click)="unshlop($event, message)">
          {{(message | as : ShlopMessageRef).shlop.lengthText}}
        </div>
      </ng-container>

    </ng-container>

    <app-board *ngIf="showChildren && message.children && message.children.length > 0" [placeId]="placeId" [messages]="message.children"></app-board>

  </div>
</ng-container>
