<ng-container *ngFor="let message of messages">
  <div class="message-branch"
       [class.msg-root]="!message.parent"
       [class.msg-starred]="message.isStarred"
       *ngIf="message != null">

    <ng-container [ngSwitch]="message.display">

      <!-- Обычное сообщение (MessageDisplayType.NORMAL) -->
      <div *ngSwitchCase="0"
           class="message-content"
           [class.message-content__selected]="message === channelService.selectedMessage"
           (click)="onMessageClick(message)">
        <img class="avatar" [src]="'https://plllasma.com/i/' + message.icon +'.gif'" />
        <b [class.star]="message.isStarred">{{message.nick}}</b><br>
        <div class="message-text" *ngIf="!!message.text" [innerHTML]="message.text | linky | newline"></div>

        <ng-container *ngIf="message.attachments">
          <a *ngFor="let attachment of message.attachments"
             class="att" target="_blank"
             [href]="'../api/file.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id">
            <img [src]="'../api/i.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id" loading="lazy" />
          </a>
        </ng-container>

        <div class="message-likes" *ngIf="message === channelService.selectedMessage">
          <div><a href (click)="onLikeClick($event, '')">👍</a> 99</div>
          <div><a href (click)="onLikeClick($event, '')">😄</a> 99</div>
          <div><a href (click)="onLikeClick($event, '')">🤔</a> 99</div>
          <div><a href (click)="onLikeClick($event, '')">😵</a> 99</div>
        </div>

        <div class="message-reply-form" *ngIf="message === channelService.selectedMessage">
          <app-message-form [channelId]="placeId"
                            [parentMessage]="message"
                            [replyMode]="true"
                            (onPost)="onNewMessageCreated()">
          </app-message-form>
        </div>

      </div>

      <!-- Серое сообщение (MessageDisplayType.GRAY) -->
      <div *ngSwitchCase="1"
           class="message-content message-content-gray"
           (click)="unfoldGray($event, message)">

        <img class="avatar" [src]="'https://plllasma.com/i/' + message.icon +'.gif'">
        <b [class.star]="message.isStarred">{{message.nick}}</b><br>
        <div class="message-text" *ngIf="!!message.text" [innerHTML]="message.text | linky | newline"></div>

        <ng-container *ngIf="message.attachments">
          <a *ngFor="let attachment of message.attachments"
             class="att" target="_blank"
             [href]="'../api/file.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id">
            <img [src]="'../api/i.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id" loading="lazy" />
          </a>
        </ng-container>

      </div>

      <!-- Схлоп (MessageDisplayType.SHLOP) -->
      <div  *ngSwitchCase="10"
            class="message-content message-content-gray" (click)="unshlop($event, message)">
        + {{(message | as : ShlopMessageRef).shlop.lengthText}}
      </div>

    </ng-container><!-- ngSwitch -->

    <app-messages *ngIf="showChildren && message.children && message.children.length > 0" [placeId]="placeId" [messages]="message.children"></app-messages>

  </div>
</ng-container>
