<ng-container *ngFor="let message of messages">
  <div class="branch"
       [class.branch-root]="!message.parent"
       [class.msg-starred]="message.isStarred"
       *ngIf="message != null">

    <ng-container [ngSwitch]="message.display">

      <!-- Обычное сообщение (MessageDisplayType.NORMAL) -->
      <div *ngSwitchCase="0"
           class="message"
           [class.message__selected]="message === channelService.selectedMessage"
           [class.message__hover-by-child]="message.isHoveByChild"
           (mouseenter)="onMessageHover(message, true)"
           (mouseleave)="onMessageHover(message, false)"
           (click)="onMessageClick(message)">
        <img class="avatar" [src]="'https://plllasma.com/i/' + message.icon +'.gif'" />
        <b [class.star]="message.isStarred">{{message.nick}}</b>
        <p *ngIf="!!message.text" [innerHTML]="message.text | linky | newline"></p>

        <div *ngIf="message.attachments">
          <a *ngFor="let attachment of message.attachments"
             class="attachment" target="_blank"
             [href]="'../api/file.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id">
            <img [src]="'../api/i.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id" loading="lazy" />
          </a>
        </div>

        <div class="likes" *ngIf="message === channelService.selectedMessage">
          <a href (click)="onLikeClick($event, '')">👍</a>
          <a href (click)="onLikeClick($event, '')">😄</a>
          <a href (click)="onLikeClick($event, '')">🤔</a>
          <a href (click)="onLikeClick($event, '')">😵</a>
        </div>

        <div class="reply" *ngIf="message === channelService.selectedMessage">
          <app-message-form [channelId]="placeId"
                            [parentMessage]="message"
                            [replyMode]="true"
                            (onPost)="onNewMessageCreated()">
          </app-message-form>
        </div>

      </div>

      <!-- Серое сообщение (MessageDisplayType.GRAY) -->
      <div *ngSwitchCase="1"
           class="message message-gray"
           [class.message__hover-by-child]="message.isHoveByChild"
           (mouseenter)="onMessageHover(message, true)"
           (mouseleave)="onMessageHover(message, false)"
           (click)="unfoldGray($event, message)">

        <img class="avatar" [src]="'https://plllasma.com/i/' + message.icon +'.gif'">
        <b [class.star]="message.isStarred">{{message.nick}}</b>
        <p *ngIf="!!message.text" [innerHTML]="message.text | linky | linksToStubs | shorten"></p>

        <div *ngIf="message.attachments">
          <a *ngFor="let attachment of message.attachments"
             class="attachment" target="_blank"
             [href]="'../api/file.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id">
            <img [src]="'../api/i.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id" loading="lazy" />
          </a>
        </div>

      </div>

      <!-- Схлоп (MessageDisplayType.SHLOP) -->
      <a href *ngSwitchCase="10"
            class="message message-gray expand" (click)="unshlop($event, message)">
        {{(message | as : ShlopMessageRef).shlop.lengthText}}
      </a>

    </ng-container><!-- ngSwitch -->

    <app-messages *ngIf="showChildren && message.children && message.children.length > 0" [placeId]="placeId" [messages]="message.children"></app-messages>

  </div>
</ng-container>
