<ng-container *ngFor="let message of messages">
  <div class="message"
       [class.msg-root]="!message.parent"
       [class.msg-starred]="message.isStarred"
       *ngIf="message != null">

    <ng-container [ngSwitch]="message.display">

      <!-- Обычное сообщение (MessageDisplayType.NORMAL) -->
      <ng-container *ngSwitchCase="0">
        <div class="message-text" [class.message-text__selected]="message === channelService.selectedMessage" (click)="onMessageClick(message)">
          <img class="ico" [src]="'https://plllasma.com/i/' + message.icon +'.gif'" />
          <b [class.star]="message.isStarred">{{message.nick}}</b><br>
          <span *ngIf="!!message.text" [innerHTML]="message.text | linky"></span>
        </div>
        <ng-container *ngIf="message.attachments">
          <a *ngFor="let attachment of message.attachments"
             class="att" target="_blank"
             [href]="'../api/file.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id">
            <img [src]="'../api/i.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id" loading="lazy" />
          </a>
        </ng-container>
        <app-message-form *ngIf="message === channelService.selectedMessage"
                                [channelId]="placeId" [parentMessage]="message"
                                (onPost)="onNewMessageCreated()">
        </app-message-form>
      </ng-container>

      <!-- Серое сообщение (MessageDisplayType.GRAY) -->
      <ng-container *ngSwitchCase="1">
        <div class="text text-gray" (click)="unfoldGray($event, message)">
          <img class="ico" [src]="'https://plllasma.com/i/' + message.icon +'.gif'">
          <b [class.star]="message.isStarred">{{message.nick}}</b><br>
          <span *ngIf="!!message.text" [innerHTML]="message.text | linky"></span>
        </div>
        <ng-container *ngIf="message.attachments">
          <a *ngFor="let attachment of message.attachments"
             class="att" target="_blank"
             [href]="'../api/file.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id">
            <img [src]="'../api/i.php?p=' + this.placeId + '&m=' + this.message.id + '&a=' + attachment.id" loading="lazy" />
          </a>
        </ng-container>
      </ng-container>

      <!-- Схлоп (MessageDisplayType.SHLOP) -->
      <ng-container *ngSwitchCase="10">
        <div class="text text-gray" (click)="unshlop($event, message)">
          {{(message | as : ShlopMessageRef).shlop.lengthText}}
        </div>
      </ng-container>

    </ng-container>

    <app-messages *ngIf="showChildren && message.children && message.children.length > 0" [placeId]="placeId" [messages]="message.children"></app-messages>

  </div>
</ng-container>
