:host {
  position: absolute;
  z-index: var(--z-selection);
}

.stroke {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  display: inline-block;
  border: 2px solid white;
  box-sizing: border-box;
}
.edge {
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.corner {
  display: inline-block;
  position: absolute;
  z-index: 2;
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: var(--border-radius);
}

#l {
  left: -5px;
  width: 11px;
  top: 5px;
  bottom: 5px;
  cursor: e-resize;
}
#r {
  right: -5px;
  width: 11px;
  top: 5px;
  bottom: 5px;
  cursor: e-resize;
}
#t {
  top: -5px;
  height: 11px;
  left: 5px;
  right: 5px;
  cursor: n-resize;
}
#b {
  bottom: -5px;
  height: 11px;
  left: 8px;
  right: 8px;
  cursor: n-resize;
}
#tl {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}
#tr {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}
#bl {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}
#br {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}
