<div class="three-column-page">
  <aside class="aside">
    <app-main-menu></app-main-menu>
  </aside>
  <main class="main">
    <a class="back-link" routerLink="/members">← Назад к списку</a>
    <header>
      <img class="avatar" [src]="member?.icon" />
      <h1 [class.spinner]="isLoading">
        {{member ? nick : 'Гражданин'}}
      </h1>
      <div class="snami">С нами 12 лет. Имеет 13000 спасиб. Автор 13021 сообщений. Не женат.</div>
    </header>

    <div class="profile" *ngIf="!isLoading && member">
      <p [innerHTML]="member.profile"></p>
      <p>
        <ng-container *ngIf="member.time_logged !== '0000-00-00 00:00:00'">Был в {{member.time_logged | plasmadate}}<br></ng-container>
        Было {{member.profile_visits}} просмотров
      </p>
    </div>

  </main>
  <div class="spacer"></div>
  <div class="sidebar">
    <img class="profilephoto" *ngIf="member?.profilephoto" [attr.src]="member?.profilephoto">
  </div>
</div>

