<div class="three-column-page">
  <aside class="aside">
    <app-main-menu></app-main-menu>
  </aside>
  <main class="main">
    <header>
      <a class="back-link" routerLink="/members">← назад</a>
      <h1 [class.spinner]="isLoading">{{member ? nick : 'Гражданин'}}</h1>
      <p></p>
    </header>

    <div class="profile" *ngIf="!isLoading && member">
      <p>
        <img style="float:right" *ngIf="member.profilephoto" [attr.src]="member.profilephoto">
        <span [innerHTML]="member.profile"></span>
      </p>
      <p>
        Был в {{member.time_logged | plasmadate}}<br>
        {{member.profile_visits}} просмотров
      </p>
    </div>

  </main>
  <div class="spacer"></div>
  <div class="sidebar"></div>
</div>

