.loading {
  margin: 1rem;
}

.sidebar {
  .profilephoto {
    width: 100%;
    height: auto;
  }
}

header {
  .avatar {
    margin-right: 0.3rem!important;
    image-rendering: pixelated;
    margin-bottom: 0!important; // Перебиваем нашу странную -2px
    width: 30px;
    height: 30px;
  }

  h1 {
    white-space: nowrap;
    font-size: 2rem;
    vertical-align: bottom;
  }

  .snami {
    margin-left: 3rem;
    margin-top: 6px;
  }
}

.profile {
  margin-top: 1rem;
  max-width: var(--max-text-size);
}

.mail-title {
  height: 2rem;
  line-height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;

  &-icon {
    display: inline-block;
    width: 31px;
    background-image: url('~src/assets/img/newmail.gif');
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0.2rem;
    margin-top: 3px;
    transform: scaleX(-1);
  }
}

.mail-going {
  margin-left: 1.5rem;
}

.mail-form {
  width: 35rem;
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid #c5b9ac;
  border-radius: 0.2rem;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  textarea {
    width: 100%;
    height: 6rem;
    border: 0;
    resize: none;
    background: none;

    &:focus {
      outline: 0;
    }
  }

  &-tools {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      width: 6rem;
      height: 2rem;
      font-size: 0.9rem;
    }
  }

}

.mail-messages {
  margin-top: 1.5rem;

  .mail-message {
    margin-bottom: 1rem;
    max-width: var(--max-text-size);
    overflow-x: clip;

    b {
      padding-right: 0.2rem;
    }
  }
}
