<div class="three-column-page">
  <aside class="aside">
    <app-main-menu></app-main-menu>
  </aside>
  <main class="main">
    <a class="back-link" routerLink="/members">← Назад к списку</a>

    <div *ngIf="isLoading" [class.spinner]="isLoading">Загрузка</div>

    <ng-container *ngIf="!isLoading && member">

      <header>
        <img class="avatar" [src]="member?.icon" />
        <h1>
          {{member ? nick : 'Гражданин'}}
        </h1>
        <div class="snami">С нами {{years}}. Имеет {{spasibas}}. Автор {{messages}}. {{sex}}.</div>
      </header>

      <div class="profile">
        <p [innerHTML]="member.profile"></p>
        <p>
          <ng-container *ngIf="member.time_logged !== '0000-00-00 00:00:00'">Был в {{member.time_logged | plasmadate}}<br></ng-container>
          {{visits}}
        </p>
      </div>

      <div class="mail">
        <h3>Ваша переписка:</h3>
        <textarea #textarea autofocus [(ngModel)]="mailMessage"></textarea>
        <button *ngIf="!isSending" (click)="onSsendMessageClick()">Отправить</button>

        <p *ngFor="let message of mail" class="mail-message" [innerHTML]="message.message | linky | newline"></p>

      </div>

    </ng-container>

  </main>
  <div class="spacer"></div>
  <div class="sidebar">
    <img class="profilephoto" *ngIf="member?.profilephoto" [attr.src]="member?.profilephoto">
  </div>
</div>

