<div class="matrix"
     [style.height]="((matrixHeight * cellSizePlusGap) - gap) + 'px'">
  <ng-container *ngIf="matrix">

    <!-- Объекты -->
    <div class="grid">
      <ng-container  *ngFor="let object of matrix?.objects">
        <div *ngIf="object !== transform?.object"
             class="item"
             [style.grid-area]="(object.y + 1) + '/' + (object.x + 1) + '/' + (object.y + 1 + object.h) + '/' + (object.x + 1 + object.w)"
             [style.background-color]="object.color"
             [attr.id]="object.id">
        </div>
      </ng-container>
    </div>

  <!-- Задний фон - серые квадратики -->
  <div class="bg"
       [style.top]="'-' + ((matrixHeight * cellSizePlusGap) - gap) + 'px'"
       [style.height]="((matrixHeight * cellSizePlusGap) - gap) + 'px'">
    <div></div>
    <div></div>
    <div></div>
  </div>    

    <!-- Таскаемая копия объекта -->
    <div *ngIf="transform"
         class="item dragging"
         [style.left]="(matrixRect.left + transform.resultDomRect.left) + 'px'"
         [style.top]="(matrixRect.top + transform.resultDomRect.top) + 'px'"
         [style.width]="transform.resultDomRect.width + 'px'"
         [style.height]="transform.resultDomRect.height + 'px'">
      <div class="content" [style.background-color]="transform.object.color"></div>
    </div>

    <!-- Тень под таскаемой копией объекта -->
    <div *ngIf="transform && shadowRect"
         class="item dragging dragging-placeholder"
         [style.left]="shadowRect.left + 'px'"
         [style.top]="shadowRect.top + 'px'"
         [style.width]="shadowRect.width + 'px'"
         [style.height]="shadowRect.height + 'px'">
      <div class="content"></div>
    </div>

    <!-- Рамка выделения -->
    <app-selection *ngIf="selectionRect"
                   (dragStart)="startResize()"
                   (dragEnd)="endResize()"
                   [(rect)]="selectionRect">
    </app-selection>

  </ng-container>
</div>
