.matrix {
  display: block;
  width: 100%;
  min-width: 600px;
  min-height: 10px; // чтобы она раскукожилась. А то её размер зависит от cellSize а cellSize зависит от её размера.

  .grid {
    display: grid;
    grid-template-columns: repeat(12, var(--matrix-cell-size)) minmax(var(--matrix-cell-size), 1fr) repeat(4, var(--matrix-cell-size));
    grid-auto-rows: var(--matrix-cell-size);
    gap: var(--matrix-gap);
    width: 100%;
    height: 100%;
  }

  &.dragging {
    background-color: #bebebe;
  }

}

.item {
  display: inline-block;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
  border-radius: var(--border-radius);
  cursor: move;

  &.dragging {
    position: absolute;
    z-index: var(--z-matrix-drag-item);

    &-placeholder {
      z-index: var(--z-matrix-drag-item-placeholder);
      .content {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .content {
    display:block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
