<div class="matrix"
     [class.editmode]="isEditMode"
     [style.grid-auto-rows]="cellSize + 'px'">
  <ng-container *ngIf="matrix">

    <!-- Объекты -->
    <ng-container *ngFor="let item of matrix?.items; let z = index;">
      <div *ngIf="item !== drag?.item"
           class="item"
           [attr.id]="item.id"
           [class.selected]="item.selected"
           [style.grid-column]="(item.x + 1) + '/' + (item.x + 1 + item.w)"
           [style.grid-row]="(item.y + 1) + '/' + (item.y + 1 + item.h)">
        <div class="content" [style.background-color]="item.color">{{item.x}}:{{item.y}}</div>
      </div>
    </ng-container>

    <!-- Таскаемая копия объекта -->
    <div *ngIf="drag"
         class="item dragging"
         [style.left]="(matrixRect.left + drag.resultPixelRect.left) + 'px'"
         [style.top]="(matrixRect.top + drag.resultPixelRect.top) + 'px'"
         [style.width]="drag.resultPixelRect.width + 'px'"
         [style.height]="drag.resultPixelRect.height + 'px'">
      <div class="content" [style.background-color]="drag.item.color">{{drag.item.x}}:{{drag.item.y}}</div>
    </div>

    <!-- Тень под таскаемой копией объекта -->
    <div *ngIf="drag"
         class="item dragging dragging-placeholder"
         [style.left]="(matrixRect.left + (drag.resultRect.x * cellSize)) + 'px'"
         [style.top]="(matrixRect.top + (drag.resultRect.y * cellSize)) + 'px'"
         [style.width]="(drag.resultRect.w * cellSize) + 'px'"
         [style.height]="(drag.resultRect.h * cellSize) + 'px'">
      <div class="content"></div>
    </div>

    <app-selection
      *ngIf="selectionRect"
      (dragStart)="onSelectionDragStart()"
      (dragEnd)="onSelectionDragEnd()"
      [(rect)]="selectionRect">
    </app-selection>

  </ng-container>
</div>
