<div *ngIf="matrix?.objects?.length"
     class="matrix-container"
     [class.collapsed]="matrix.collapsed"
     [style.max-height]="matrix.collapsed ? 'var(--matrix-collapsed-height)' : 'none'">

  <div *ngIf="matrix.collapsed" class="matrix-expander">
    <div class="matrix-expander-blocker" (click)="matrix.collapsed = false" [style.width]="matrixRect.width + 'px'">
      <div class="expand-butt"><div></div><b>▼</b><div></div>
      </div>
    </div>
  </div>

  <div class="matrix"
       [style.height]="((matrixHeight * cellSizePlusGap) - gap) + 'px'">

    <!-- Объекты -->
    <div class="grid">
      <ng-container  *ngFor="let object of matrix?.objects">
        <ng-container [ngTemplateOutlet]="objectTemplate" [ngTemplateOutletContext]="{object}"></ng-container>
      </ng-container>
    </div>

  <!-- Задний фон - серые квадратики -->
  <div class="bg"
       [style.top]="'-' + ((matrixHeight * cellSizePlusGap) - gap) + 'px'"
       [style.height]="((matrixHeight * cellSizePlusGap) - gap) + 'px'">
    <div></div>
    <div></div>
  </div>

    <!-- Таскаемая копия объекта -->
    <div *ngIf="transform"
         class="item dragging"
         [class.item-text]="transform.object.type === objectTypeText"
         [class.item-title]="transform.object.type === objectTypeTitle"
         [style.left]="(matrixRect.left + transform.resultDomRect.left) + 'px'"
         [style.top]="(matrixRect.top + transform.resultDomRect.top) + 'px'"
         [style.background-image]="'url(/matrix/' + this.channel?.id + '/' + transform.object.image + ')'"
         [style.width]="transform.resultDomRect.width + 'px'"
         [style.height]="transform.resultDomRect.height + 'px'">
      {{transform.object.text ?? ''}}
    </div>

    <!-- Тень под таскаемой копией объекта -->
    <div *ngIf="transform && shadowRect"
         class="item dragging dragging-placeholder"
         [style.left]="shadowRect.left + 'px'"
         [style.top]="shadowRect.top + 'px'"
         [style.width]="shadowRect.width + 'px'"
         [style.height]="shadowRect.height + 'px'">
    </div>

    <!-- Рамка выделения -->
    <app-selection *ngIf="selectionRect"
                   (dragStart)="startResize()"
                   (dragEnd)="endResize()"
                   [(rect)]="selectionRect">
    </app-selection>

  </div>

</div>

<ng-template #objectTemplate let-object='object'>
  <div *ngIf="object !== transform?.object"
       class="item"
       [class.selected]="selectedObject === object"
       [class.item-text]="object.type === objectTypeText"
       [class.item-title]="object.type === objectTypeTitle"

       [class.matrix-star]="object.type === objectTypeImage && object.changed > (channel?.viewed ?? '')"
       [style.grid-area]="(object.y + 1) + '/' + (object.x + 1) + '/' + (object.y + 1 + object.h) + '/' + (object.x + 1 + object.w)"
       [style.background-image]="'url(/matrix/' + this.channel?.id + '/' + object.image + ')'"
       [attr.id]="object.id">
    <ng-container *ngIf="object.type === objectTypeText">{{object.text}}</ng-container>
    <ng-container *ngIf="object.type === objectTypeTitle">{{object.text}}</ng-container>
  </div>
</ng-template>
