<div class="mozaic"
     [class.editmode]="isEditMode"
     [style.grid-auto-rows]="cellSize + 'px'">
  <ng-container *ngIf="mozaic">
    <ng-container *ngFor="let item of mozaic?.items; let z = index;">

      <div *ngIf="item !== draggingItem"
           class="item"
           [attr.id]="item.id"
           [class.selected]="item.selected"
           [style.grid-column]="(item.x + 1) + '/' + (item.x + 1 + item.w)"
           [style.grid-row]="(item.y + 1) + '/' + (item.y + 1 + item.h)">
        <div class="content" [style.background-color]="item.color">{{item.x}}:{{item.y}}</div>
      </div>

    </ng-container>

    <div *ngIf="draggingItem"
         class="item  dragging"
         [style.left]="draggingItemX + 'px'"
         [style.top]="draggingItemY + 'px'"
         [style.width]="(draggingItem.w * cellSize) + 'px'"
         [style.height]="(draggingItem.h * cellSize) + 'px'">
      <div class="content" [style.background-color]="draggingItem.color">{{draggingItem.x}}:{{draggingItem.y}}</div>
    </div>

    <div *ngIf="draggingItem"
         class="item dragging-placeholder"
         [style.left]="(draggingItemCellX * cellSize) + 'px'"
         [style.top]="(draggingItemCellY * cellSize) + 'px'"
         [style.width]="(draggingItem.w * cellSize) + 'px'"
         [style.height]="(draggingItem.h * cellSize) + 'px'">
      <div class="content"></div>
    </div>
  </ng-container>
</div>
