:host {
  --mozaic-gap: 5px; // должна быть равна переменной mozaicGap

  --z-mozaic-drag-item: 10;
  --z-mozaic-drag-item-placeholder: 9;
}

.mozaic {
  display: grid;
  grid-auto-columns: calc(100% / 12);
  width: 100%;
  min-width: 40rem;
  height: 20rem;
  background-color: #bebebe;

  // Контент блоков прозрачен для кликов когда мозаика редактируется
  &.editmode {
    .item {
      .content {
        pointer-events: none;
      }
    }
  }

  .item {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;

    &.selected {
      cursor: move;
    }

    &.dragging {
      position: absolute;
      z-index: var(--z-mozaic-drag-item);

      &-placeholder {
        z-index: var(--z-mozaic-drag-item-placeholder);
        .content {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }

    .content {
      display:block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }
}
