:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  .form {
    background-color: white;
    border: 1px solid #c5b9ac;
    border-radius: 0.2rem;
    padding: 0.6rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 40rem;

    &--ghost {
      box-shadow: inset 0 0 0.8rem #cfedf5;
      border: 1px solid #cfedf5!important;
      .tools-send button {
        box-shadow: 0 0 0.8rem #cfedf5;
      }
    }

    &--drop {
      border: 2px dashed black;
    }

    .user-line {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 0.2rem;
      font-weight: bold;
      .user {
        cursor: pointer;
      }
      .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-bottom: -1px;
        margin-right: 0.2rem;
        background-image: url('../../../assets/ghost.gif');
      }
    }

    .editableDiv {
      flex-grow: 1;
      background: none;
      border: none;
      border-radius: var(--border-radius);
      min-height: 2rem;
      max-height: 15rem;
      overflow-y: auto;
      &:focus {
        outline: none;
      }
    }

    .tools {
      min-height: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      &-attach {
        display: flex;
        flex-direction: column;

        &-buttons {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          button {
            height: 1.2rem;
            min-width: 1.2rem;
            max-width: 1.2rem;
            line-height: 0.6rem;
            padding: 0;
          }
          label {
            font-size: 0.9rem;
            color: gray;
            margin-left: 0.4rem;
          }
        }
      }

      &-send {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 2rem;
        width: 12rem;
        button {
          width: 6rem;
          height: 2rem;
          font-size: 0.9rem;
        }
        .spinner {
          height: 2rem;
          line-height: 2rem;
          margin-right: 2rem;
        }
      }
    }
  }
}

.attachments {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .attachment {
    width: 80px; min-width: 80px;
    height: 80px; min-height: 80px;
    background-color: black;
    border-radius: 0.2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    .imagecontainer {
      position: absolute;
      z-index: 1;
      width: 80px;
      height: 80px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        max-width: 80px;
        max-height: 80px;
      }
    }

    .message {
      position: absolute;
      z-index: 2;
      width: 80px;
      height: 80px;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      * {
        color: white;
        font-size: 0.9rem;
        text-align: center;
        vertical-align: center;
        background-color: red;
      }

    }

    .remove {
      opacity: 0;
      position: relative;
      z-index: 3;
      width: 80px;
      height: 80px;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      user-select: none;
      font-size: 80px;
      font-family: sans-serif;

      &:hover {
        opacity: 100%;
      }
    }

  }
}

#fileUpload {
  display: none;
}
