:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  .form {
    background-color: white;
    border: 1px solid #c5b9ac;
    border-radius: 0.2rem;
    padding: var(--form-padding);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: var(--max-input-width);

    &--ghost {
      box-shadow: inset 0 0 0.8rem #cfedf5;
      border: 1px solid #cfedf5!important;
      .tools-send button {
        box-shadow: 0 0 0.8rem #cfedf5;
      }
    }

    &--drop {
      border: 2px dashed black;
    }

    .user-input {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 0.2rem;
      font-weight: bold;
      .user {
        cursor: pointer;
      }
      .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-bottom: -1px;
        margin-right: 0.2rem;
        background-image: url('../../../assets/ghost.gif');
      }
    }

    .message-textarea {
      flex-grow: 1;
      background: none;
      border: none;
      border-radius: var(--border-radius);
      min-height: 2rem;
      max-height: var(--max-input-height);
      resize: none;
      overflow-y: hidden;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #999;
        font-style: italic;
      }
    }

    .tools {
      min-height: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      &-attach {
        display: flex;
        flex-direction: column;

        &-buttons {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          button {
            height: 1.2rem;
            min-width: 1.2rem;
            max-width: 1.2rem;
            line-height: 0.6rem;
            padding: 0;
          }
          label {
            font-size: 0.9rem;
            color: gray;
            margin-left: 0.4rem;
          }
        }
      }

      &-send {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 2rem;
        width: 12rem;
        * {
          margin-left: 1rem;
        }
        button {
          width: 6rem;
          height: 2rem;
          font-size: 0.9rem;
        }
        .spinner {
          height: 2rem;
          line-height: 2rem;
          margin-right: 2rem;
        }
      }
    }
  }
}

.attachments {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 0.5rem;

  .attachment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;

    &--error {
      .attachment-name {
        color: #999;
        text-decoration: line-through;
      }
    }

    .attachment-icon {
      width: 16px;
      height: 16px;
      min-width: 16px;
      background-image: url('~src/assets/attachment.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.5;
    }

    .attachment-thumb {
      width: 16px;
      height: 16px;
      min-width: 16px;
      object-fit: cover;
      border-radius: 2px;
    }

    .attachment-name {
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 0.9rem;
      color: #333;
    }

    .attachment-error {
      font-size: 0.8rem;
      color: red;
      margin-left: 0.3rem;
    }

    .attachment-remove {
      cursor: pointer;
      color: #999;
      font-size: 0.8rem;
      margin-left: 0.3rem;
      
      &:hover {
        color: red;
      }
    }
  }
}
