main {
  display: flex;
  flex-direction: row;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;

    div {
      display: inline-block;
      width: 33%;
    }
  }

  section:nth-child(1) {
    flex-grow: 1;
    padding-right: 1rem;
  }
  section:nth-child(2) {
    margin-right: -1rem; // Компенсируем отступ от края страницы который прописан в three-column-page
    width: 12rem; min-width: 12rem;
    padding: 0 1rem;
    background-image: url('../../../../../assets/bg.gif');
    background-repeat: repeat-y;
    background-position-x: -179px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 1.5rem 0;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  input {
    width: 12rem;
    background-image: url('~src/assets/img/search-inline.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 4px);
  }

  &-clear {
    padding-left: 0.5rem;
    font-size: 1.3rem;
  }
}

.filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  a {
    display: block;
    margin: 0.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--color-pagination);

    &.selected {
      background-color: gray;
      color: var(--color-page-bg);
    }
  }
}

.district {
  label {
    display: inline-block;
    margin: 0.5rem 0;
    font-size: 1.3rem;
    color: maroon;
  }
}

.channels {
  column-width: 10rem;

  .channel {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    width: 10rem;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }

    &:before {
      display: block;
      content: ' ';
      width: 14px; min-width: 14px;
      height: 18px;
      background-image: url('~src/assets/img/channel.png');
      margin-right: 0.15rem;
    }

    &-ignored {
      &:before { background-image: url('~src/assets/img/channel-ignored.png'); }
    }
    &.channel-subscribed {
      &:before { background-image: url('~src/assets/img/channel-subscribed.png'); }
    }
    &.channel-ignored {
      &:before { background-image: url('~src/assets/img/channel-ignored.png') }
    }
    &.channel-closed {
      &:before { background-image: url('~src/assets/img/channel-closed.png'); }
    }

    &-new {
      &:before { background-image: url('~src/assets/img/channel-new.png'); }
      &.channel-subscribed {
        &:before { background-image: url('~src/assets/img/channel-new-subscribed.png'); }
      }
      &.channel-ignored {
        &:before { background-image: url('~src/assets/img/channel-new-ignored.png') }
      }
      &.channel-closed {
        &:before { background-image: url('~src/assets/img/channel-new-closed.png'); }
      }
    }
  }
}

.rules {
  margin-top: 1rem;
  p {
    margin: 0 0 0.8rem 0;
    font-size: 0.9rem;
    color: #423a36;
    img {
      width: 12px;
      height: 12px;
    }
  }
}

.garland {
  position: relative;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-align: center;
  background: #000000;
  border-radius: var(--border-radius);
  box-sizing: content-box;
  text-decoration: none;
  color: #948977;
  transition: all 1s;

  &::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2, #750cf2, #ff5520);
    z-index: -1;
    border-radius: var(--border-radius);
  }
}
.garland:hover {
  color: white;
  &::after {
    animation:slidebg 2s linear infinite;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2, #750cf2, #ff5520);
    z-index: -2;
    filter: blur(40px);
    border-radius: var(--border-radius);
    animation:slidebg 2s linear infinite;
  }
}
@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
