main {
  display: flex;
  flex-direction: row;

  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 5rem;

    h1 {
      margin-bottom: 0.2rem;
    }
  }  

  section:nth-child(1) {
    width: 80%;
    padding-right: 1rem;
  }
  section:nth-child(2) {
    width: 20%;
    padding: 0 1rem;
    background-image: url('../../../../../assets/bg.gif');
    background-repeat: repeat-y;
    background-position-x: -179px;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      >* {
        margin-bottom: 1rem;
      }
      input {
        width: 90%;
      }
      textarea {
        width: 90%;
        height: 5rem;
        padding: 8px;
      }
      .user-line {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.2rem;
        .user {
          display: flex;
          flex-direction: row;          
          flex-wrap: nowrap;
          cursor: pointer;
          font-weight: bold;

          .icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-bottom: -1px;
            margin-right: 0.2rem;
            background-image: url('../../../../../assets/ghost.gif');
          }          
        }
      }
      button {
        height: 2rem;
        background-color: rgb(168, 134, 102);
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
        &:hover {
          background-color: rgb(31, 122, 158);
        }
      }            
    }
  }  
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem 0;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  input {
    width: 12rem;
    background-image: url('~src/assets/img/search-inline.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 4px);
  }

  &-clear {
    padding-left: 0.5rem;
    font-size: 1.3rem;
  }
}

.filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  a {
    display: block;
    margin: 0.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--color-pagination);

    &.selected {
      background-color: gray;
      color: var(--color-page-bg);
    }
  }
}

.district {
  label {
    display: inline-block;
    margin: 0.5rem 0;
    font-size: 1.3rem;
    color: maroon;
  }
}

.channels {
  column-width: 10rem;

  .name {
    display: inline-block;
    margin-bottom: 1rem;
    padding-right: 0.5rem;
    width: 10rem;
    white-space: nowrap;
    color: black;
    text-decoration: none;

    i {
      font-style: normal;
      font-size: 0.9rem;
    }

    &:hover {
      text-decoration: underline;
    }

    &.noaccess {
      pointer-events: none;
    }
  }
}