<div class="three-column-page">
  <aside class="aside">
    <app-main-menu></app-main-menu>
  </aside>
  <main class="main">

    <section>

      <header>
        <div>
          <h1 [class.spinner]="isLoading">Каналы</h1>
        </div>
        <div class="search" *ngIf="!isLoading">
          <input autofocus [(ngModel)]="searchPhrase" (ngModelChange)="onFilter()" placeholder="Поиск">
        </div>
        <div></div>
      </header>

      <ng-container *ngIf="!isLoading">

        <ng-container *ngIf="!searchPhrase">

          <div class="district">
            <div class="channels">
              <ng-container *ngFor="let channel of channelsFlex">
                <ng-container [ngTemplateOutlet]="memberTemplate" [ngTemplateOutletContext]="{channel: channel}"></ng-container>
              </ng-container>
            </div>
          </div>

          <div class="district">
            <label>Имена</label>
            <div class="channels">
              <ng-container *ngFor="let channel of channelsFlexPerformers">
                <ng-container [ngTemplateOutlet]="memberTemplate" [ngTemplateOutletContext]="{channel: channel}"></ng-container>
              </ng-container>
            </div>
          </div>

          <div class="district">
            <label>18+</label>
            <div class="channels">
              <ng-container *ngFor="let channel of channelsFlexDark">
                <ng-container [ngTemplateOutlet]="memberTemplate" [ngTemplateOutletContext]="{channel: channel}"></ng-container>
              </ng-container>
            </div>
          </div>

          <div class="district">
            <label>Всякое</label>
            <div class="channels">
              <ng-container *ngFor="let channel of channelsOther">
                <ng-container [ngTemplateOutlet]="memberTemplate" [ngTemplateOutletContext]="{channel: channel}"></ng-container>
              </ng-container>
            </div>
          </div>

          <div class="district">
            <label>МК</label>
            <div class="channels">
              <ng-container *ngFor="let channel of channelsMen">
                <ng-container [ngTemplateOutlet]="memberTemplate" [ngTemplateOutletContext]="{channel: channel}"></ng-container>
              </ng-container>
            </div>
          </div>

          <div class="district">
            <label>Амазония</label>
            <div class="channels">
              <ng-container *ngFor="let channel of channelsAmazonia">
                <ng-container [ngTemplateOutlet]="memberTemplate" [ngTemplateOutletContext]="{channel: channel}"></ng-container>
              </ng-container>
            </div>
          </div>

          <div class="district">
            <label>Техническое</label>
            <div class="channels">
              <ng-container *ngFor="let channel of channelsAdmin">
                <ng-container [ngTemplateOutlet]="memberTemplate" [ngTemplateOutletContext]="{channel: channel}"></ng-container>
              </ng-container>
            </div>
          </div>

        </ng-container>

        <ng-container *ngIf="searchPhrase">
          <div class="district">
            <div class="channels" *ngIf="channelsSearching.length">
              <ng-container *ngFor="let channel of channelsSearching">
                <ng-container [ngTemplateOutlet]="memberTemplate" [ngTemplateOutletContext]="{channel: channel}"></ng-container>
              </ng-container>
            </div>
          </div>
          <div *ngIf="!channelsSearching.length">Не найдено</div>
        </ng-container>

      </ng-container>

    </section>

    <section>
      <a routerLink="/channels/new" class="new-channel">
        <div class="new-channel-icon"></div>
        <div class="new-channel-text">Создать канал</div>
      </a>
      <div class="rules">
        <p>Все могут создавать свои каналы.</p>
        <p>Канал попадает в боковое меню только к тем людям, кто сам на него подпишется.</p>
        <p>Если создать канал от имени <img src="./assets/ghost.gif"> Привидения то его создатель останется неизвестным.</p>
        <p>Создатель является владельцем канала и устанавливает на нём свои правила.</p>
        <p>Канал можно сделать открытым для всех или (ещё не доделано) только для указанных граждан</p>
      </div>
    </section>

  </main>
  <div class="sidebar" [class.sidebar-halloween]="isHalloween">

    <div class="halloween" *ngIf="isHalloween">
      <ng-container *ngIf="currentYear === 2023">
        Конец близок! Каналы мутируют.
        Скоро они начнут размножаться
        и их станет столько, что мы все умрём!
        И&nbsp;черви съедят наши глаза!<br>
      </ng-container>
      <img src="assets/img/halloween-pumpkin.png">
    </div>

  </div>
</div>

<ng-template #memberTemplate let-channel='channel'>
  <a class="channel"
     [class.channel-new]="channel.id_place > 47"
     [class.channel-closed]="!channel.role || channel.role === 9"
     [class.channel-subscribed]="channel.at_menu === 't'"
     [class.channel-ignored]="channel.ignoring === 1"
     (click)="onChannelClick(channel)"
     [class.star]="!(!channel.role || channel.role === 9) && channel.ignoring !== 1 && channel.at_menu !== 't' && (!channel.time_viewed || channel.time_viewed < channel.time_changed)"
     [routerLink]="'/channel/' + channel.id_place">
       {{channel.shortName}}
  </a>
</ng-template>
