main {
  display: flex;
  flex-direction: row;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 4rem;

    div {
      display: inline-block;
      width: 33%;
    }

    .search {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      input {
        width: 12rem;
        background-image: url('~src/assets/img/search-inline.png');
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: calc(100% - 4px);
      }

      &-clear {
        padding-left: 0.5rem;
        font-size: 1.3rem;
      }
    }
  }

  section:nth-child(1) {
    flex-grow: 1;
    padding-right: 1rem;
  }
  section:nth-child(2) {
    margin-right: -1rem; // Компенсируем отступ от края страницы который прописан в three-column-page
    width: 12rem; min-width: 12rem;
    padding: 0 1rem;
    background-repeat: repeat-y;
    background-position-x: -179px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.district {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 1rem;
    color: #71867c;
  }
}

.channels {
  --channel-line-height: 1.8rem;
  --channel-icon-size: 32px;

  columns: 10rem auto;

  .channel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10rem;
    height: var(--channel-line-height);
    color: black;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }

    &:before {
      width: var(--channel-icon-size);
      height: var(--channel-icon-size);
      min-width: var(--channel-icon-size);
      min-height: var(--channel-icon-size);
      content: ' ';
      position: relative;
      z-index: 1;
      break-inside: avoid; // Лечение проблемы срезания контента в колумнах
      display: block;
      background-image: url('~src/assets/img/channels/domik.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      margin-left: -12px;
      margin-right: -2px;
    }

    /*&-ignored {
      &:before { background-image: url('~src/assets/img/channel-ignored.png'); }
    }
    &.channel-subscribed {
      &:before { background-image: url('~src/assets/img/channel-subscribed.png'); }
    }
    &.channel-ignored {
      &:before { background-image: url('~src/assets/img/channel-ignored.png') }
    }
    &.channel-closed {
      &:before { background-image: url('~src/assets/img/channel-closed.png'); }
    }

    &-new {
      &:before { background-image: url('~src/assets/img/channel-new.png'); }
      &.channel-subscribed {
        &:before { background-image: url('~src/assets/img/channel-new-subscribed.png'); }
      }
      &.channel-ignored {
        &:before { background-image: url('~src/assets/img/channel-new-ignored.png') }
      }
      &.channel-closed {
        &:before { background-image: url('~src/assets/img/channel-new-closed.png'); }
      }
    }*/
  }
}

.new-channel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1.1rem;
  height: 4rem;

  &-icon {
    display: inline-block;
    background-image: url('~src/assets/img/new-channel.png');
    min-width: 34px;
    min-height: 46px;
    margin-right: 0.6rem;
    margin-top: -6px;
  }
  &-text {
    height: var(--input-height);
    line-height: var(--input-height);
  }
}

.rules {
  p {
    margin: 0 0 0.8rem 0;
    color: #423a36;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
