header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;

  input {
    width: 12rem;
    background-image: url('~src/assets/img/search-inline.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 4px);
  }

  &-clear {
    padding-left: 0.5rem;
    font-size: 1.3rem;
  }
}

.filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  a {
    display: block;
    margin: 0.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--color-pagination);

    &.selected {
      background-color: gray;
      color: var(--color-page-bg);
    }
  }
}

.section {
  label {
    display: inline-block;
    margin: 0.5rem 0;
    font-size: 1.3rem;
    color: maroon;
  }
}

.members {
  column-width: 10rem;
  margin-top: 1rem;

  .nick {
    display: inline-block;
    margin-bottom: 1rem;
    width: 10rem;
    white-space: nowrap;
    color: black;
    font-weight: bold;
    text-decoration: none;

    &.me {
      box-shadow: 0 0 12px 8px #e1d6ca;
      background-color: #e1d6ca;
    }

    &.gray {
      color: #727272;
      .avatar {
        opacity: 70%!important;
      }
    }
    &.dead {
      color: #ACACAC;
      .avatar {
        opacity: 30%!important;
      }
    }
    &:hover {
      color: var(--color-link-hover);
      .avatar {
        opacity: 100%!important;
      }
    }
  }
}
