<div class="three-column-page">
  <aside class="aside">
    <app-main-menu></app-main-menu>
  </aside>
  <main class="main">
    <header>
      <h1 [class.spinner]="isLoading">Граждане</h1>
      <p>Список пользователей</p>
    </header>

    <ng-container *ngIf="!isLoading">

      <div class="search">
        <input autofocus [(ngModel)]="searchPhrase" (ngModelChange)="onFilter()">
      </div>

      <div class="section" *ngIf="correspondents.length">
        <label>С кем вы переписывались</label>
        <div class="members">
          <a *ngFor="let member of correspondents"
             class="nick"
             [class.star]="member.inboxStarred"
             [class.gray]="member.gray"
             [class.dead]="member.dead"
             [routerLink]="'/members/' + member.nick"><img class="avatar" [src]="member.icon">{{member.nick}}</a>
        </div>
      </div>

      <div class="section">
        <label>Зашедшие сегодня</label>
        <div class="members">
          <a *ngFor="let member of membersToday"
             class="nick"
             [class.star]="member.inboxStarred"
             [class.gray]="member.gray"
             [class.dead]="member.dead"
             [routerLink]="'/members/' + member.nick"><img class="avatar" [src]="member.icon">{{member.nick}}</a>
        </div>
      </div>

      <div class="section">
        <label>Вообще все</label>
        <div class="members">
          <a *ngFor="let member of membersToShow"
             class="nick"
             [class.star]="member.inboxStarred"
             [class.gray]="member.gray"
             [class.dead]="member.dead"
             [routerLink]="'/members/' + member.nick"><img class="avatar" [src]="member.icon">{{member.nick}}</a>
        </div>
      </div>

    </ng-container>

  </main>
  <div class="spacer"></div>
  <div class="sidebar"></div>
</div>
