.form {
  margin: var(--margin-section) 0;
  min-height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  &-content {
    flex-grow: 1;
    max-width: calc((var(--matrix-cell-size) + var(--matrix-gap)) * 14 - var(--matrix-gap));
  }
  &-tools {
    margin: var(--form-padding);
    margin-left: 2rem;
    display: flex;
    flex-direction: column;

    >* {
      line-height: var(--form-tools-item-heigth);
    }
  }

  .left-align-button {
    text-align: left;
    justify-content: flex-start; /* Выравнивание содержимого по левому краю */
    width: 100%; /* Чтобы кнопка занимала всю доступную ширину */
  }

  .subs {
    margin-left: 0.5rem;
  }
}

:host {
  ::ng-deep {
    .mat-button {
      padding: 0;
      text-align: left;
      line-height: var(--form-tools-item-heigth);
      font-size: 1rem;

      i {
        display: inline-block;
        font-style: normal;
        min-width: 1.5rem;
      }
    }
  }
}

.general-error {
  margin: 1rem;
}

.ignoring {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-page-bg-dark);

  div {
    margin-left: 1.8rem;
    margin-bottom: 0.1rem;
    &:first-child {
      position: absolute;
      margin-left: 0;
    }
  }
}
