<div class="menu">
    <app-main-menu *ngIf="appService.channels.length"></app-main-menu>
</div>
<div class="main">
  <ng-container *ngIf="channel">
    <h1>{{channel.name}}</h1>
    <p>{{channel.description}}</p>
    <p>Сообщения</p>
    <p>Сообщения</p>
    <p>Сообщения</p>
    <p>Сообщения</p>
    <p>Сообщения</p>
    <p>Сообщения</p>
    <p>Сообщения</p>
    <p>Сообщения</p>
    <p>Сообщения</p>
    <p>Сообщения</p>
    <p>Сообщения</p>
    <p>Сообщения</p>
  </ng-container>
</div>
<div class="sidebar">
    Привет, это новая Плазма.
    Она ещё не существует и все здесь как-бы привидения.
</div>
