<div class="three-column-page">
  <aside class="aside">
      <app-main-menu (itemClick)="onMenuItemClick($event)"></app-main-menu>
  </aside>
  <main class="main" *ngIf="channel && !channel.canAccess">
    <div class="general-error">
      😎 У вас нет доступа на этот канал
    </div>
  </main>
  <main class="main" *ngIf="!channel || channel?.canAccess">
    <div class="channel-container" *ngIf="channel && channel?.canAccess">

      <div class="channel-top-bar">
        <div class="channel-title">
          {{channel.name}}
          <div *ngIf="channel?.isLoading" class="spinner"></div>
        </div>
      </div>

      <app-matrix #matrix
        [channel]="channel!"
        (change)="onMatrixChanged($event)">
      </app-matrix>

      <div class="form">
        <app-message-form class="form-content" [channelId]="channelId" (onPost)="onNewMessageCreated()"></app-message-form>

        <div class="form-tools form-tools-desktop" *ngIf="!channel?.isLoading">
          <div style="white-space: nowrap"><b>Управление каналом</b></div>

          <div class="channel-tools" *ngIf="channel?.canEditMatrix">
            <div [matMenuTriggerFor]="menu" class="pseudo-link">💼 Настройки <span class="up-down">▾</span></div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="matrix.addLinkCommand()">Добавить ссылку</button>
              <button mat-menu-item (click)="matrix.addImageCommand()">Добавить картинку</button>
              <button mat-menu-item (click)="matrix.addTextCommand()">Добавить текст</button>
              <button mat-menu-item (click)="matrix.addTitleCommand()">Добавить заголовок</button>
            </mat-menu>
          </div>

          <div (click)="subscribeCommand()" *ngIf="!channel?.atMenu" class="pseudo-link"><i>⭐</i> Подписаться</div>
          <div (click)="unsubscribeCommand()" *ngIf="channel?.atMenu" class="pseudo-link"><i>✖</i> Отписаться</div>

          <ng-container *ngIf="!channel?.atMenu">
            <div (click)="ignoreCommand()" *ngIf="!channel?.isIgnoring" class="pseudo-link"><i>🎧</i> Игнорировать</div>
            <div (click)="unignoreCommand()" *ngIf="channel?.isIgnoring" class="pseudo-link"><i>🎸</i> Не игнорировать</div>
          </ng-container>

          <div
            *ngIf="!channel?.isLoading"
            class="channel-stats"
            title="Количество людей, добавивших этот канал в своё боковое меню"
          >
            {{channel?.statSubscribers}} подписчиков
          </div>

        </div>
      </div>

      <div *ngIf="channel?.isIgnoring" class="ignoring">
        <div>🎧</div>
        <div><b>Вы игнорируете этот канал</b></div>
        <div>На нём не будут появляться красные значки, так что вы не узнаете о появлении здесь новых сообщений</div>
      </div>

      <div *ngIf="!!channel" class="messages">
        <div class="thread" [class.thread-gray]="t.isGray" *ngFor="let t of channel.threads">
          <app-messages
            [placeId]="channelId"
            [canModerate]="channel?.canModerate ?? false"
            [messages]="[t.root]"
            [showChildren]="t.isGray || t.isExpanded">
          </app-messages>
          <div class="branch" *ngIf="t.commentsCount > 0 && !(t.isGray || t.isExpanded)" (click)="onExpandClick($event, t)">
            <a class="expand" [class.spinner]="isExpanding === t" href >{{t.commentsCountText}}</a>
          </div>
        </div>
      </div>

      <div class="paginator">
        <a *ngFor="let page of pagesToShow"
           href
           [class.current]="page === currentPage"
           (click)="onPagination($event, page)">
          {{page + 1}}
        </a>
      </div>

    </div>
  </main>
  <div class="sidebar" [class.sidebar-halloween]="isHalloween" [class.sidebar-newyear]="isNewYear">

    <app-newyear *ngIf="isNewYear"></app-newyear>

    <div class="halloween" *ngIf="isHalloween && halloweenText">
      <img src="assets/img/halloween-pumpkin.png">
      <div class="halloween-text" [innerHTML]="halloweenText"></div>
    </div>

    <div class="content">

      <div class="mail-notification" *ngIf="mailNotification?.message">
        <a [routerLink]="'/members/' + mailNotification?.nick">
          <div class="newmail-icon"></div>
          <b>{{mailNotification?.nick}}</b>
          <span>{{mailNotification?.message}}</span>
        </a>
      </div>

      <div class="now-here" *ngIf="hereAndNowUsers.length">
        <div class="nowandhere-label">Здесь сейчас</div>
        <a *ngFor="let user of hereAndNowUsers; let i = index;"
           [routerLink]="'/members/' + user"
           target="_blank"
           class="nowandhere-user">
          {{user}}
        </a>
      </div>

      <div *ngIf="isNotificationsReady && !(mailNotification?.message || hereAndNowUsers.length)">
        никого нет
      </div>

    </div>

  </div>
</div>
