:host {
  min-height: 100vh;
}

.form {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  &-content{
    flex-grow: 1;
    max-width: 40rem;
  }
}

.messages {
  margin-top: 1rem;
}

.nowandhere {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 8rem;
  font-size: 0.9rem;

  &-label {
    font-weight: bold;
  }
  &-user {
    white-space: nowrap;
    margin-bottom: 0.2rem;
  }
}
