<div class="three-column-page">
  <aside class="aside">
    <app-main-menu></app-main-menu>
  </aside>
  <main class="main">
    <header>
      <h1>
        <img class="avatar" src="/i/ghost.gif" />
        Привидение
      </h1>
    </header>

    <div class="profile">
      Привидения — это пользователи, пожелавшие остаться неизвестными. Администрация гарантирует им анонимность.
    </div>

    <a class="back-link" routerLink="/members"><i>←</i> К списку граждан</a>
  </main>
  <div class="spacer"></div>
  <div class="sidebar"></div>
</div>
