[Unit]
Description=YouTube Preview API
After=network.target

[Service]
User=root
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/venv/bin/python /usr/local/bin/youtube-preview-api.py
Restart=always
RestartSec=5
Environment=PATH=/usr/local/bin/venv/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
