:host {
  display: flex;
  flex-direction: column;

  .user {
    margin-bottom: 0.2rem;
    font-weight: bold;
    .icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url('~src/assets/ghost.gif');
    }
  }

  .middle {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .inputs {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
      background-color: white;
      border: 1px solid #c5b9ac;
      border-radius: 0.2rem;

      &--drop {
        background-color: greenyellow;
      }

      textarea {
        min-width: 30rem;
        min-height: 5rem;
        border: 0;
        resize: none;
        background: none;

        &:focus {
          outline: 0;
        }
      }

      .tools {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        button {
          height: 2rem;
          width: 2rem;
        }

        label {
          font-size: 0.9rem;
          color: gray;
          margin-left: 0.8rem;
        }
      }

    }

    .send-button {
      font-size: 0.9rem;
      height: 2.2rem;
      width: 8rem;
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
  }

  .attachments {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 0.5rem;

    .attachment {
      width: 80px; min-width: 80px;
      height: 80px; min-height: 80px;
      background-color: black;
      border-radius: 0.2rem;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }

      .imagecontainer {
        position: absolute;
        z-index: 1;
        width: 80px;
        height: 80px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          max-width: 80px;
          max-height: 80px;
        }
      }

      .error {
        position: absolute;
        z-index: 2;
        width: 80px;
        height: 80px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        * {
          color: white;
          font-size: 0.9rem;
          text-align: center;
          vertical-align: center;
          background-color: red;
        }

      }

      .remove {
        opacity: 0;
        position: relative;
        z-index: 3;
        width: 80px;
        height: 80px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 120px;
        font-family: sans-serif;

        &:hover {
          opacity: 100%;
        }
      }

    }
  }
  .hint {
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

}

#fileUpload {
  display: none;
}
