<div class="form"
     (dragover)="onDragOver($event)"
     (dragleave)="onDragLeave($event)"
     (drop)="onDropSuccess($event)"
     (dragend)="onDragEnd()"
     [class.form--ghost]="isGhost"
     [class.form--reply]="replyMode"
     [class.form--drop]="isDragging">

  <div class="user" (click)="isGhost = !isGhost">
    <ng-container *ngIf="!isGhost">
      <img class="avatar" [src]="'https://plllasma.com/i/' + userIcon" />{{userName}}▾
    </ng-container>
    <ng-container *ngIf="isGhost">
      <div class="icon"></div>{{'Привидение'}}▴
    </ng-container>
  </div>

  <textarea autofocus [disabled]="isSending" [(ngModel)]="messageText"></textarea>

  <div class="tools">
    <div class="tools-attach">
      <div class="attachments" *ngIf="attachments && attachments.length">
        <div *ngFor="let attachment of attachments" class="attachment" [title]="'Удалить ' + attachment.file.name">
          <div class="imagecontainer"><img *ngIf="attachment.isImage" [src]="attachment.bitmap"></div>
          <div *ngIf="attachment.error" class="error"><div>{{attachment.error}}</div></div>
          <div class="remove" (click)="onremoveClick(attachment)">X</div>
        </div>
      </div>
      <div class="tools-attach-buttons">
        <button (click)="fileUpload.click()"
                (mouseover)="dnd.hidden = false"
                (mouseout)="dnd.hidden = true"
                [disabled]="isSending">+
        </button>
        <label>Файлы<span #dnd hidden="true">. Можно драг-н-дропом. До 50 MB.</span></label>
      </div>
    </div>
    <div  class="tools-send">
      <button *ngIf="!isSending" (click)="onSendClick()">Отправить</button>
      <div class="spinner" *ngIf="isSending">Загрузка</div>
    </div>
  </div>
  <input #fileUpload id="fileUpload" type="file" multiple (change)="onFilesSelected($event)" />
</div>
