<div class="three-column-page">
  <aside class="aside">
    <app-main-menu></app-main-menu>
  </aside>
  <main class="main">

    <header>
      <h1>Создание канала</h1>
    </header>

    <form [formGroup]="newChannelForm">

      <label>Название канала (не пошлое, не неприятное)</label>
      <input class="input" name="name" type="text" maxlength="14" formControlName="name">

      <label>Создатель канала</label>
      <div class="user-input" (click)="isGhost = !isGhost" [class.user-input-ghost]="isGhost">
        <img class="avatar" [src]="isGhost ? '../../../../../assets/ghost.gif' : 'https://plllasma.com/i/' + userService.user.icon + '.gif'" />
        <div>{{isGhost ? 'Привидение' : userService.user.nick}}</div>
        <div>{{isGhost ? '▴' : '▾'}}</div>
      </div>

      <!--
      <label>В разделе <b>(ещё не готово)</b></label>
      <select formControlName="section">
        <option>Всякое</option>
      </select>
      -->

      <label>Предупреждение при входе</label>
      <textarea class="input" placeholder="Например про 18+" name="disclaimer" type="text" formControlName="disclaimer"></textarea>

      <!--
      <label>Правила <b>(ещё не готово)</b></label>
      <textarea class="input" name="disclaimer" type="text" formControlName="roles"></textarea>
      -->

      <div class="buttons">
        <button class="button"
                [disabled]="newChannelForm.invalid"
                (click)="onNewChannelClick()">
          Создать
        </button>
      </div>

    </form>

  </main>
  <div class="sidebar"></div>
</div>
