@import "normalize.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12pt; // rem

  // Цветовая схема (комплиментарный от #D7CABB):
  // Основной #D7CABB
  // Кнопка #5C7C8A
  // Кнопка актив #BACED6
  // Светлый #FFFBF7
  // Тёмный #8A7B6A

  --color-black: black;
  --color-gray: #757575;
  --color-gray-message: #8A8A8A;
  --color-page-bg: #D7CABB;
  --color-selected-message-bg: #DDD1C1;
  --color-star: rgb(241, 95, 95);
  --color-link: #745A50;

  --border-radius: 3px;
  --margin-standard: 0.4rem;
  --message-level-size: 1.2rem;
  --message-padding: 0.4rem;

  --attachment-icon-size: 160px;
  --avatar-size: 16px;
  --avatar-margin: 0.2rem;

  // input
  --color-input-bg: #ffffff;

  // button
  --color-button-bg: #444444;
  --color-button-bg-hover: #775858;
  --color-button-bg-active: #000000;

  --color-button-bg-red: #444444;
  --color-button-bg-red-hover: #444444;
  --color-button-bg-red-active: #444444;

  --color-button-bg-blue: #5C7C8A;
  --color-button-bg-blue-hover: #739bab;
  --color-button-bg-blue-active: #455c67;

  --color-button-text: #FFFBF7;
}

body {
  background-color: var(--color-page-bg);
}

.three-column-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: max(100vh, 100%);

  @media (min-width: 20rem) {
    .aside {
      min-width: 200px;
      max-width: 200px;
    }
    .main {
      width: 100%;
    }
    .sidebar {
      width: 8rem;
    }
  }
  @media (min-width: 60rem) {
    .aside {
      min-width: 200px;
      max-width: 200px;
    }
    .main {
      width: 0.7fr;
    }
    .sidebar {
      width: 0.3fr;
    }
  }

  .aside {
    overflow-y: initial;
  }
  .main {

    header {
      margin: 1rem 0;

      h1 {
        font-size: 1.5rem;
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
  }
  .sidebar {
    margin-left: 1rem;
    padding: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #C4B8AA;
  }
}

.input {
  height: 1.5rem;
  background-color: var(--color-input-bg);
  border: none;
  border-radius: var(--border-radius);
  &:focus {
    outline: none;
  }
}

.textarea {
  border: none;
  border-radius: var(--border-radius);
  &:focus {
    outline: none;
  }
}

.button {
  height: 1.5rem;
  background-color: var(--color-button-bg);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-button-text);
  &:hover {
    background-color: var(--color-button-bg-hover);
  }
  &:active {
    background-color: var(--color-button-bg-active);
  }

  &__red {
    background-color: var(--color-button-bg-red);
    &:hover {
      background-color: var(--color-button-bg-red-hover);
    }
    &:active {
      background-color: var(--color-button-bg-red-active);
    }
  }

  &__blue {
    background-color: var(--color-button-bg-blue);
    &:hover {
      background-color: var(--color-button-bg-blue-hover);
    }
    &:active {
      background-color: var(--color-button-bg-blue-active);
    }
  }
}

/* Сообщения */

.message {
  min-width: 200px;
  padding: var(--message-padding);
  margin: 0;

  &:not(.message__selected) {
    cursor: pointer;
    &:hover {
      background-color: var(--color-selected-message-bg);
    }
    a {
      color: black!important;
      &:hover {
        color: var(--color-link)!important;
      }
    }
  }

  &__selected {
    background-color: var(--color-selected-message-bg);
  }

  a {
    color: var(--color-link);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:visited {
      color: var(--color-link);
    }
  }

  b {
    padding-right: 0.3rem;
  }

  p {
    display: inline;
    margin: 0;
  }

  &-gray {
    color: var(--color-gray-message)!important;
    a, a:visited, a:hover {
      color: var(--color-gray-message) !important;
    }
    .avatar {
      opacity: 0.4;
    }
    &.expand:before {
      opacity: 0.4;
    }
  }
}

.expand {
  display: block;
  color: var(--color-black);
  text-decoration: none;
  padding: var(--message-padding);

  &:before {
    display: inline-block;
    content: ' ';
    width: 16px;
    height: 16px;
    margin-right: 0.2rem;
    margin-bottom: -1px;
    background-image: url('~src/assets/expand.gif');
  }
}
.expand:hover {
  color: var(--color-link);
  text-decoration: underline;
}

.branch {
  max-width: 100%;
  margin-left: var(--message-level-size);
  color: var(--color-black);

  &-root {
    margin-left: 0;
  }
}

.likes {
  margin-left: calc(var(--avatar-size) + var(--avatar-margin));

  display: flex;
  flex-direction: row;

  a {
    padding: 0.8rem;
    &:hover {
      text-decoration: none;
      background-color: white;
    }
  }

}

.attachment {
  margin-right: 0.3rem;
  img {
    width: var(--attachment-icon-size);
    height: var(--attachment-icon-size);
    opacity: 0.7;
  }
}

.reply {
  margin-left: calc(var(--avatar-size) + var(--avatar-margin));
  margin-bottom: 1rem;
  max-width: 30rem;
}

/* Звёздочки */

.star:after {
  content: "●";
  color: var(--color-star);
  font-size: 1rem;
  padding-left: 0.2rem;
}
.black-star.star:after {
  color: #646464;
}

/* Иконки юзеров */

.avatar {
  margin-bottom: -2px;
  margin-right: var(--avatar-margin);
  width: var(--avatar-size);
  height: var(--avatar-size);
}

// Крутилка

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  display: inline-block;
  &:after {
    margin-left: 0.2rem;
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0);
    border-top-color: #000;
    animation: spinner .6s linear infinite;
  }
}
