@import "normalize.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12pt; // rem

  // Цветовая схема (комплиментарный от #D7CABB):
  // Основной #D7CABB
  // Кнопка #5C7C8A
  // Кнопка актив #BACED6
  // Светлый #FFFBF7
  // Тёмный #8A7B6A

  --color-black: black;
  --color-gray: #757575;
  --color-page-bg: #D7CABB;

  --border-radius: 3px;
  --margin-standard: 0.4rem;

  // input
  --color-input-bg: #ffffff;

  // button
  --color-button-bg: #444444;
  --color-button-bg-hover: #775858;
  --color-button-bg-active: #000000;

  --color-button-bg-red: #444444;
  --color-button-bg-red-hover: #444444;
  --color-button-bg-red-active: #444444;

  --color-button-bg-blue: #5C7C8A;
  --color-button-bg-blue-hover: #739bab;
  --color-button-bg-blue-active: #455c67;

  --color-button-text: #FFFBF7;
}

body {
  background-color: var(--color-page-bg);
  background-image: url('~src/assets/bg.gif');
  background-repeat: repeat-y;
}

.input {
  height: 1.5rem;
  background-color: var(--color-input-bg);
  border: none;
  border-radius: var(--border-radius);
  &:focus {
    outline: none;
  }
}

.textarea {
  border: none;
  border-radius: var(--border-radius);
  &:focus {
    outline: none;
  }
}

.button {
  height: 1.5rem;
  background-color: var(--color-button-bg);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-button-text);
  &:hover {
    background-color: var(--color-button-bg-hover);
  }
  &:active {
    background-color: var(--color-button-bg-active);
  }

  &__red {
    background-color: var(--color-button-bg-red);
    &:hover {
      background-color: var(--color-button-bg-red-hover);
    }
    &:active {
      background-color: var(--color-button-bg-red-active);
    }
  }

  &__blue {
    background-color: var(--color-button-bg-blue);
    &:hover {
      background-color: var(--color-button-bg-blue-hover);
    }
    &:active {
      background-color: var(--color-button-bg-blue-active);
    }
  }
}

/* Thread */

/* Message */

.msg {
  max-width: 100%;
  margin-left: 32px;
  color: var(--color-black);
}
.msg-root {
  margin-left: 0;
}
.children {
  padding-left:20px;
}
.text {
  width: 100%;
  min-width: 200px;
  padding: 0;
  margin: 0;
  margin-bottom: 9px;
}
.att {
  width: 100px;
  height: 100px;
  opacity: 0.7;
}

/* Ссылка "раскрыть ветку" */

.expand {
  display: block;
  margin-bottom: 9px;
  padding-left: 16px;
  color: var(--color-black);
  text-decoration: none;
}
.expand:hover {
  color: var(--color-black);
}

/* Gray */

.text-gray {
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-gray);
  cursor: pointer;
}
.text-gray:hover {
  color: var(--color-black);
}
.msg-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.text-gray b {
  font-weight: normal;
}

/* Shlop */


/* Звёздочки */

u {
  text-decoration: none;
}
u:after {
  content: "●";
  color: rgb(241, 95, 95);
  font-size: 17px;
  margin-left: 3px;
  margin-right: 3px;
  text-decoration: none;
}

/* Иконки юзеров */

.ico {
  margin-bottom: -1px;
  margin-right: 0.2rem;
  width: 16px;
  height: 16px;
}
.text-gray .ico {
  border: 1px solid var(--color-gray);
  background-color: inherit;
}
.text-gray:hover .ico {
  border: 1px solid var(--color-black);
}
