@import "css/normalize";
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12pt; // rem

  // Цветовая схема (комплиментарный от #D7CABB):
  // Основной #D7CABB
  // Кнопка #5C7C8A
  // Кнопка актив #BACED6
  // Светлый #FFFBF7
  // Тёмный #8A7B6A

  --color-black: black;
  --color-gray: #757575;
  --color-gray-message: #8A8A8A;
  --color-page-bg: #D7CABB;
  --color-page-bg-shade: #d2c5b6;
  --color-page-bg-dark: #C4B8AA;
  --color-selected-message-bg: #DDD1C1;
  --color-hover-by-child-message-bg: #DDD1C1;
  --color-star: rgb(241, 95, 95);
  --color-link: #886211;
  --color-link-hover: #d0930e;
  --color-date: #aba196;
  --color-pagination: #4b4b4b;
  --color-selection-frame: #4b4b4b;
  --color-logo-red: #9C1B0C;

  --z-matrix-bg: -1;
  --z-matrix-items: 1;
  --z-matrix-drag-item-placeholder: 9;
  --z-matrix-drag-item: 10;
  --z-selection: 11;
  --z-banner: 12;

  --border-radius: 3px;
  --margin-standard: 0.4rem;
  --margin-section: 0.7rem; // расстояние между крупными блоками - например формой и заголовком сканала
  --sidebar-padding: 0.7rem;
  --message-level-size: 1.2rem;
  --message-padding: 0.4rem;
  --max-text-size: 50rem;
  --input-height: 40px;
  --max-input-height: 30rem;
  --max-input-width: 40rem;
  --form-padding: 0.6rem;

  --attachment-icon-size: 160px;
  --avatar-size: 16px;
  --avatar-margin: 0.2rem;

  --matrix-cell-size: 2rem; // ! должна быть равна константе matrixCellSize
  --matrix-gap: 0.5rem;     // ! должна быть равна константе matrixGap
  --matrix-cols-count: 18;  // ! должна быть равна константе matrixColsCount А ТАКЖЕ соответствовать css-гриду и .bg в matrix.component.css
  --matrix-flex-col: 17;    // ! должна быть равна константе matrixFlexCol   А ТАКЖЕ соответствовать css-гриду и .bg в matrix.component.css
  --matrix-right-cols-count: calc(var(--matrix-cols-count) - var(--matrix-flex-col) - 1); // кол-во столбцов справа от резинового
  --matrix-star-size: 0.8rem;
  --matrix-collapsed-height-cells: 10; // ! должна быть равна константе matrixCollapsedHeightCells
  --matrix-collapsed-height: calc((var(--matrix-cell-size) + var(--matrix-gap)) * var(--matrix-collapsed-height-cells) + var(--matrix-gap));

  --selection-handle-size: 11px;

  // input
  --color-input-bg: #ffffff;

  // button
  --color-button-bg: #444444;
  --color-button-bg-hover: #775858;
  --color-button-bg-active: #000000;

  --color-button-bg-red: #444444;
  --color-button-bg-red-hover: #444444;
  --color-button-bg-red-active: #444444;

  --color-button-bg-blue: #5C7C8A;
  --color-button-bg-blue-hover: #739bab;
  --color-button-bg-blue-active: #455c67;
  --color-input-border: #c5b9ac;

  --color-button-text: #FFFBF7;

  --color-matrix-object-bg: #d3c6b8;
}

body {
  background-color: var(--color-page-bg);
  height: 100%;
}

a {
  color: var(--color-link);
  &:hover {
    color: var(--color-link-hover);
  }
}

i {
  font-style: normal;
}

input {
  border: 1px solid var(--color-input-border);
  border-radius: 0.2rem;
  padding: 0.5rem;

  &:focus {
    outline: 0;
  }

  &::placeholder {
    color: #b2bdbd;
    font-size: 0.9rem;
  }
}

textarea {
  &:focus {
    outline: 0;
  }
  &::placeholder {
    color: #b2bdbd;
    font-size: 0.9rem;
  }
}

.three-column-page {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  min-height: 100vh;

  .aside {
    min-width: 200px;
    max-width: 200px;
  }

  .main {
    flex-grow: 1;
    padding-top: 1rem;

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 1.5rem;
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
  }
  .sidebar {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-page-bg-shade);
    color: #4f4f4f;

    .content {
      margin-top: 1rem;
      padding-left: 0.5rem; // чтоб не прижались к краю минимально широкой боковой панели

      &>* {
        max-width: 20rem;
        margin-bottom: 1rem;
      }

      .now-here {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 8rem;
        font-size: 0.9rem;
        font-weight: bold;

        a {
          font-weight: normal;
          color: var(--color-link);
          text-decoration: none;
          &:hover {
            color: var(--color-link-hover);
          }
        }

      }
    }

    &-halloween {
      padding-top: 21rem;
      background-color: black;
      background-image: url('~src/assets/img/halloween.png');
      background-repeat: no-repeat;
      background-position: top right;

      .halloween {
        max-width: 200px;
        text-align: center;
        color: #948977;

        img {
          margin: 0 1rem;
        }
      }
    }

    &-newyear {
      .content {
        a {
          color: rgba(50, 11, 73, 0.6) !important;
          font-weight: normal!important;
        }
        b {
          font-weight: normal;
          color: rgba(50, 11, 73, 0.6);
        }
        .now-here {
          .nowandhere-label {
            color: rgba(50, 11, 73, 0.6);
            font-weight: normal;
          }
        }
      }
    }
  }

  @media (min-width: 0rem) {
    .sidebar {
      min-width: 8rem;
      max-width: 8rem;

      .halloween {
        font-size: 0.9rem;
        line-height: 1.1rem;
        margin: 0;
      }
    }
  }
  @media (min-width: 75rem) {
    .sidebar {
      min-width: 14rem;
      max-width: 14rem;

      .halloween {
        font-size: 1rem;
        line-height: 1.4rem;
        margin: 0 1rem;
      }
    }
  }
  @media (min-width: 110rem) {
    .sidebar {
      min-width: 24rem;
      max-width: 24rem;
    }

    .halloween {
      font-size: 1rem;
      line-height: 1.4rem;
      margin: 0 1rem;
    }
  }
}

.input {
  height: 1.5rem;
  background-color: var(--color-input-bg);
  border: none;
  border-radius: var(--border-radius);
  &:focus {
    outline: none;
  }
}

.textarea {
  border: none;
  border-radius: var(--border-radius);
  &:focus {
    outline: none;
  }
}

.button {
  height: 1.5rem;
  background-color: var(--color-button-bg);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-button-text);
  &:hover {
    background-color: var(--color-button-bg-hover);
  }
  &:active {
    background-color: var(--color-button-bg-active);
  }

  &__red {
    background-color: var(--color-button-bg-red);
    &:hover {
      background-color: var(--color-button-bg-red-hover);
    }
    &:active {
      background-color: var(--color-button-bg-red-active);
    }
  }

  &__blue {
    background-color: var(--color-button-bg-blue);
    &:hover {
      background-color: var(--color-button-bg-blue-hover);
    }
    &:active {
      background-color: var(--color-button-bg-blue-active);
    }
  }
}

/* Сообщения */

.message {
  min-width: 200px;
  max-width: 60rem;
  padding: var(--message-padding);
  margin: 0;

  &:not(.message__selected) {
    cursor: pointer;
    &:hover {
      background-color: var(--color-selected-message-bg);
    }
  }

  &__selected {
    background-color: var(--color-selected-message-bg);
  }
  &__editing {
    max-width: calc(var(--max-input-width) - var(--form-padding) * 2 - 2px);
    background-color: white;
    border: 1px solid #c5b9ac;
    border-radius: var(--border-radius);
    padding: var(--form-padding);
  }

  .tools-edit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 2rem;
    margin-top: 0.5rem;
    button {
      width: 6rem;
      height: 2rem;
      font-size: 0.9rem;
    }
    .spinner {
      height: 2rem;
      line-height: 2rem;
      margin-right: 2rem;
    }
    a {
      padding-right: 1rem;
    }
  }

  &__hover-by-child {
    background-color: var(--color-hover-by-child-message-bg);
  }

  a {
    color: var(--color-link);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: var(--color-link-hover);
    }
  }

  .nick {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-right: 0.3rem;
  }

  p {
    display: inline;
    margin: 0;

    &.editable {
      overflow-y: auto;
      &:focus {
        outline: 0;
      }
    }
  }

  .attachments {
    & > * {
      margin-right: 0.3rem;
      img {
        width: var(--attachment-icon-size);
        height: var(--attachment-icon-size);
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .preview {
    width: var(--attachment-icon-size);
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  .video-preview {
    min-width: 160px;
    min-height: 120px;
    max-width: 160px;
    max-height: 120px;
    opacity: 0.6;
    background-color: #000;
    &:hover {
      opacity: 1;
    }
  }

  .likes {
    margin-left: calc(var(--avatar-size) + var(--avatar-margin));
    font-size: 0.9rem;
    span {
      margin-right: 0.3rem;
    }
  }

  &-gray {
    color: var(--color-gray-message)!important;
    a, a:visited, a:hover {
      color: var(--color-gray-message) !important;
    }
    .avatar {
      opacity: 0.4;
    }
    &.expand:before {
      opacity: 0.4;
    }
    .attachments {
      img {
        opacity: 0.3;
        filter: grayscale(100%);
        margin-right: 0.3rem;
      }
    }
  }
}

.expand {
  display: block;
  color: var(--color-black);
  text-decoration: none;
  padding: var(--message-padding);

  &:before {
    display: inline-block;
    content: ' ';
    width: 16px;
    height: 16px;
    margin-right: 0.2rem;
    margin-bottom: -1px;
    background-image: url('~src/assets/expand.gif');
  }
}
.expand:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

.branch {
  margin-left: var(--message-level-size);
  color: var(--color-black);

  &-root {
    margin-left: 0;
  }
}

.message-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.8rem;

  .like-button {
    color: black;
    padding: 0.4rem;
    border-radius: var(--border-radius);
    background-color: #EFEFEF;
    border: #cbbca3 1px solid;
    margin-right: 0.3rem;
    &.liked {
      pointer-events: none;
    }
    &-emote {
      border-radius: 0.4rem;
      width: 2rem;
      text-align: center;
      background-color: #fae6cb;
    }
    &.selected {
      background-color: #ffffff;
      font-weight: bold;
    }
    &:hover:not(.selected) {
      color: black;
      text-decoration: none;
      background-color: white;
    }
  }

  .reply-link {
    padding-left: 1rem;
  }

  .message-date {
    flex-grow: 1;
    padding-left: 1rem;
    font-size: 0.8rem;
    color: var(--color-date);
  }
}

.reply {
  margin-top: 0.5rem;
}

/* Звёздочки */

.star:after {
  content: "●";
  color: var(--color-star);
  font-size: 1rem;
  padding-left: 0.2rem;
}

/* Иконки юзеров */

.avatar {
  margin-bottom: -2px;
  margin-right: var(--avatar-margin);
  width: var(--avatar-size);
  height: var(--avatar-size);
}

// Крутилка

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  display: inline-block;
  &:after {
    margin-left: 0.2rem;
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0);
    border-top-color: #000;
    animation: spinner .6s linear infinite;
  }
}

// Пагинатор
.paginator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 ;

  a {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    padding: 0.2rem;
    font-size: 0.9rem;
    text-align: center;
    color: var(--color-pagination);
    margin-right: 0.2rem;
    text-decoration: none;

    &.current {
      color: var(--color-page-bg);
      background-color: gray;
      border-radius: 0.2rem;
    }
    &:hover {
      color: var(--color-page-bg);
      background-color: gray;
      border-radius: 0.2rem;
    }
  }
}

// Стрелочка "назад"
.back-link {
  display: block;
  margin: 1rem 0;
  text-decoration: none;
  color: var(--color-link);
  font-weight: normal;

  i {
    font-size: 1.2rem;
  }
}

// Дата
.date {
  font-size: 0.8rem;
  color: var(--color-date);
}

.banner {
  position: absolute;
  z-index: var(--z-banner);
  top: 0;
  right: 0;
  margin: 0!important;
  margin-top: -1rem;
  pointer-events: none;
}

.mail-notification {
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;

  .newmail-icon {
    display: inline-block;
    width: 100%;
    height: 24px;
    background-image: url('assets/img/newmail.gif');
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0.1rem;
    animation: 2s linear infinite blink;
  }

  a {
    display: inline-block;
    width: 100%;
    color: black;
    font-size: 0.9rem;
    text-decoration: none;
    white-space: pre-wrap;

    &:hover {
      color: var(--color-link-hover);
      animation-play-state: paused;
    }
  }

}

@keyframes blink {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.youtube-link {
  &:first-child {
    &:before {
      content: ' ';
      display: block;
    }
  }
}

#fileUpload {
  display: none;
}

.pseudo-link {
  cursor: pointer;
}

.up-down {
  margin-left: -0.3rem;
  width: 0.8rem;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1rem;
  position: relative;
  top: 0.1rem;
}
