@import "../../../css/animation-timeline";

:host {
  display: flex;
  justify-content: center;
  margin-left: 1.5rem;
  margin-top: 3.5rem;
  width: 100%;
  height: 160px;

  --perspective: 0.8;
  --glow-size: 0.5rem;
  --yolka-width: 120px;
  --glow-offset-x: -22px;
  --lamp-offset-x: -22px;

  pointer-events: none;
  overflow-x: clip;

  .zerocontainer {
    position: relative;
    width: 100%;
    height: 0;

    &.z1 { z-index: 1; }
    &.z2 { z-index: 2; }
    &.z3 { z-index: 3; }
    &.z4 { z-index: 4; }
    &.z5 { z-index: 5; }
    &.z6 { z-index: 6; }
    &.z7 { z-index: 7; }
    &.z8 { z-index: 8; }
  }

  .yolka {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: var(--yolka-width);
    }
  }

  .bg {
    display: inline-block;
    background-color: var(--color-page-bg-shade);
    width: 100%;
    height: 600px;
    opacity: 0;
  }

  .glows {
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .glows-canvas {
      width: var(--yolka-width);
      transform: translateX(var(--glow-offset-x));
    }

    .glow {
      position: relative;
      display: inline-block;
      width: var(--glow-size);
      height: var(--glow-size);
      border-radius: calc(var(--glow-size) / 2);
      transition: opacity 1s ease-in-out, background-color 1s ease-in-out, box-shadow 1s ease-in-out;
      opacity: 0;

      &-crown {
        opacity: 40%;
        top: -1rem;
        left: 4.5rem;
        background-color: #fde592;
        box-shadow: 0 1px 2rem 2rem #fde592;
      }
      &-0 { left: 3.5rem; top: 3rem; }
      &-1 { left: 2rem; top: 7rem; }
      &-2 { left: 4.1rem; top: 2rem; }
      &-3 { left: 4.5rem; top: 6rem; }

      &-color-0 {
        opacity: 0;
      }
      &-color-1 {
        opacity: 50%;
        background-color: rgba(255, 95, 95, 0.53);
        box-shadow: 0 1px 2rem 2rem rgba(255, 95, 95, 0.53);
      }
      &-color-2 {
        opacity: 50%;
        background-color: #5fa6fa;
        box-shadow: 0 1px 2rem 2rem #5fa6fa;
      }
      &-color-3 {
        opacity: 50%;
        background-color: rgba(242, 96, 252, 0.8);
        box-shadow: 0 1px 2rem 2rem rgba(242, 96, 252, 0.8);
      }
      &-color-4 {
        opacity: 40%;
        background-color: #ffe565;
        box-shadow: 0 1px 2rem 2rem #ffe565;
      }
      &-color-5 {
        opacity: 50%;
        background-color: #5cff63;
        box-shadow: 0 1px 2rem 2rem #5cff63;
      }
    }
  }

  .lamps {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .lamps-canvas {
      width: var(--yolka-width);
      transform: translateX(var(--lamp-offset-x));
    }

    .lamp {
      position: relative;
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: white;
      transition: opacity 1s;
      opacity: 0;
      box-sizing: content-box;

      &.on {
        opacity: 1;
      }

      &-0 { left: 72px; top: 28px; } // red
      &-1 { left: 85px; top: 24px; } // purple
      &-2 { left: 70px; top: 40px; } // blue
      &-3 { left: 75px; top: 36px; } // gold
      &-4 { left: 64px; top: 56px; } // gold
      &-5 { left: 53px; top: 63px; } // purple
      &-6 { left: 62px; top: 64px; } // blue
      &-7 { left: 69px; top: 67px; } // red
      &-8 { left: 27px; top: 65px; } // red
      &-9 { left: 55px; top: 47px; } // blue
      &-10 { left: 64px; top: 79px; } // blue
      &-11 { left: 10px; top: 98px; } // purple
      &-12 { left: 15px; top: 94px; } // gold
      &-13 { left: 24px; top: 100px; } // blue
      &-14 { left: 35px; top: 97px; } // red
      &-15 { left: 39px; top: 90px; } // purple
      &-16 { left: 38px; top: 106px; } // gold

      &-color-1 { box-shadow: 0 1px 1.5px 1.5px #ff557d } // красный
      &-color-2 { box-shadow: 0 1px 1.5px 1.5px #44abf8 } // синий
      &-color-3 { box-shadow: 0 1px 1.5px 1.5px #ff29ff } // сереневый
      &-color-4 { box-shadow: 0 1px 1.5px 1.5px #ffe077 } // жёлтый
    }
  }

}

.derezhor {
  &.act-4 {
    .bg {
      opacity: 0;
    }
    .corner {
      opacity: 0.5;
    }
    .glows {
      opacity: 1;
    }
    .lamps {
      opacity: 1;
    }
    .yolka {
      opacity: 1;
      align-items: center;
    }
  }
}
