<div class="derezhor" [ngClass]="'act-' + act">
  <div class="zerocontainer z1">
    <div class="bg"></div>
  </div>
  <div class="zerocontainer z2">
    <div class="corner"></div>
  </div>
  <div class="zerocontainer z3">
    <div class="glows">
      <div class="glows-canvas">
        <div class="glow glow-crown"></div>
        <div *ngFor="let i of [0, 1, 2, 3]" [ngClass]="getGlowClass(i)"></div>
      </div>
    </div>
  </div>
  <div class="zerocontainer z4">
    <div class="wall"><div class="lift"><div class="door"></div></div></div>
  </div>
  <div class="zerocontainer z5">
    <div class="vader">
      <img src="./assets/img/vader.png">
    </div>
  </div>
  <div class="zerocontainer z6">
    <div class="vaderyolka">
      <img src="./assets/img/vaderyolka.png">
    </div>
  </div>
  <div class="zerocontainer z7">
    <div class="yolka">
      <img src="./assets/img/yolka.png">
    </div>
  </div>
  <div class="zerocontainer z8">
    <div class="lamps">
      <div class="lamps-canvas">
        <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]" [ngClass]="getLampClass(i)"></div>
      </div>
    </div>
  </div>
</div>
