<div class="derezhor" [ngClass]="'act-' + act">
  <div class="zerocontainer z1">
    <div class="bg"></div>
  </div>
  <div class="zerocontainer z2">
    <div class="corner"></div>
  </div>
  <div class="zerocontainer z3">
    <div class="glows">
      <div class="glow glow-color-red" [class.on]="isRedOn"></div>
      <div class="glow glow-color-blue" [class.on]="isBlueOn"></div>
      <div class="glow glow-color-green" [class.on]="isGreenOn"></div>
      <div class="glow glow-color-gold" [class.on]="isGoldOn"></div>
      <div class="glow glow-color-crown" [class.on]="true"></div>
    </div>
  </div>
  <div class="zerocontainer z4">
    <div class="wall"><div class="lift"><div class="door"></div></div></div>
  </div>
  <div class="zerocontainer z5">
    <div class="vader">
      <img src="./assets/img/vader.png">
    </div>
  </div>
  <div class="zerocontainer z6">
    <div class="vaderyolka">
      <img src="./assets/img/vaderyolka.png">
    </div>
  </div>
  <div class="zerocontainer z7">
    <div class="yolka">
      <img src="./assets/img/yolka.png">
    </div>
  </div>
</div>
