@import "../../../css/animation-timeline";

:host {

  --perspective: 0.8;

  display: block;
  width: 100%;
  pointer-events: none;
  overflow-x: clip;

  .zerocontainer {
    position: relative;
    width: 100%;
    height: 0;

    &.z1 { z-index: 1; }
    &.z2 { z-index: 2; }
    &.z3 { z-index: 3; }
    &.z4 { z-index: 4; }
    &.z5 { z-index: 5; }
    &.z6 { z-index: 6; }
    &.z7 { z-index: 7; }
  }

  .vader {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
  }

  .vaderyolka {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .yolka {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bg {
    display: inline-block;
    background-color: var(--color-page-bg-shade);
    width: 100%;
    height: 600px;
    opacity: 0;
  }

  --glow-size: 1rem;

  .glows {
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .glow {
      position: relative;
      display: inline-block;
      width: var(--glow-size);
      top: 5rem;
      height: var(--glow-size);
      border-radius: calc(var(--glow-size) / 2);
      transition: opacity 0.5s;
      opacity: 0;

      &.on {
        opacity: 40%;
      }

      &-color-red {
        top: 6rem;
        left: -1rem;
        background-color: #ff5f5f;
        box-shadow: 0 1px 2rem 2rem #ff5f5f;
      }
      &-color-green {
        left: 2rem;
        top: 2rem;
        background-color: #82fc60;
        box-shadow: 0 1px 2rem 2rem #82fc60;
      }
      &-color-blue {
        left: 3rem;
        top: 5rem;
        background-color: #f260fc;
        box-shadow: 0 1px 2rem 2rem #f260fc;
      }
      &-color-gold {
        top: 5rem;
        left: -2em;
        background-color: #8e55ff;
        box-shadow: 0 1px 2rem 2rem #8e55ff;
      }
      &-color-crown {
        top: -1rem;
        left: -1rem;
        background-color: #fde592;
        box-shadow: 0 1px 2rem 2rem #fde592;
      }
    }
  }

  .corner {
    display: inline-block;
    background: linear-gradient(180deg, #594c48, var(--color-page-bg-shade)) 50%;
    width: 100%;
    height: 500px;
  }

  .wall {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 160px;
    transform: scaleX(var(--perspective)) scaleY(var(--perspective));

    .lift {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 120px;
      height: 100%;
      overflow-x: clip;

      .door {
        width: 0;
        height: 145px;
        margin-top: 4px;
        background-color: black;
      }
    }
  }
}

.derezhor {

  // 0й акт - нет никаких следов нового года
  &.act-0 {
    .vader {
      opacity: 0;
      transform: scaleX(var(--perspective)) scaleY(var(--perspective));
    }
    .vaderyolka {
      opacity: 0;
      transform: scaleX(var(--perspective)) scaleY(var(--perspective));
    }
    .yolka {
      opacity: 0;
      transform: scaleX(var(--perspective)) scaleY(var(--perspective));
    }
    .corner {
      opacity: 0;
    }
    .bg {
      opacity: 0;
    }
  }

  // 1й акт - боковая панель мигает
  &.act-1 {
    .vader {
      opacity: 0;
      transform: scaleX(var(--perspective)) scaleY(var(--perspective));
    }
    .vaderyolka {
      opacity: 0;
      transform: scaleX(var(--perspective)) scaleY(var(--perspective));
    }
    .yolka {
      opacity: 0;
      transform: scaleX(var(--perspective)) scaleY(var(--perspective));
    }
    .corner {
      opacity: 0;

      @include animation-timeline {
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @include tween(0.05s, (opacity: 1));
        @include tween(0.05s, (opacity: 0));
        @include tween(0.2s, (opacity: 0)); // пауза
        @include tween(0.05s, (opacity: 1));
        @include tween(0.05s, (opacity: 0));
        @include tween(0.6s, (opacity: 0)); // пауза
        @include tween(0.05s, (opacity: 1));
      }
    }
    .bg {
      opacity: 0;

      @include animation-timeline {
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @include tween(0.3s, (opacity: 100%));
      }
    }
  }

  // 2й акт - появился Вейдер
  &.act-2 {
    .vader {
      opacity: 0;
      transform: scaleX(var(--perspective)) scaleY(var(--perspective));
      @include animation-timeline {
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @include tween(1s, (opacity: 0));
        @include tween(2s, (opacity: 100%));
      }
    }
    .vaderyolka {
      opacity: 0;
      transform: scaleX(var(--perspective)) scaleY(var(--perspective));
    }
    .yolka {
      opacity: 0;
      transform: scaleX(var(--perspective)) scaleY(var(--perspective));
    }
    .door {
      width: 0;
      @include animation-timeline {
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @include tween(0.01s, (width: 0));
        @include tween(1.2s, (width: 100px));
        @include tween(0.7s, (width: 100px));
        @include tween(0.5s, (width: 0));
      }
    }
    .corner {
      opacity: 1;
      @include animation-timeline {
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @include tween(0.01s, (opacity: 1));
        @include tween(2s, (opacity: 100%));
      }
    }
    .bg {
      opacity: 1;
    }
  }

  // 3й акт - Вейдер превращается в ёлочку
  &.act-3 {
    .vader {
      opacity: 1;
      transform: scaleX(var(--perspective)) scaleY(var(--perspective));
      @include animation-timeline {
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @include tween(0.4s, (opacity: 1));
        @include tween(1.5s, (opacity: 0));
      }
    }
    .vaderyolka {
      opacity: 0;
      transform: scaleX(var(--perspective)) scaleY(var(--perspective));
      @include animation-timeline {
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @include tween(0.8s, (opacity: 1));
        @include tween(1s, (opacity: 0, transform: scaleX(1) scaleY(1)));
      }
    }
    .yolka {
      opacity: 0;
      transform: scaleX(var(--perspective)) scaleY(var(--perspective));
      @include animation-timeline {
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @include tween(1.1s, (opacity: 0));
        @include tween(1s, (opacity: 1, transform: scaleX(1) scaleY(1)));
        @include tween(0.3s, (opacity: 1, transform: translateX(33%)));
      }
    }
    .door {
      width: 0;
    }
    .corner {
      opacity: 1;

      @include animation-timeline {
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @include tween(0.7s, (opacity: 1));
        @include tween(1s, (opacity: 0.5));
      }
    }
    .bg {
      opacity: 1;

      @include animation-timeline {
        animation-fill-mode: forwards;
        animation-iteration-count: 1;

        @include tween(2.1s, (opacity: 1));
        @include tween(0.3s, (opacity: 0));
      }
    }
  }

  // 4й акт - Ёлочка мигает
  &.act-4 {
    .bg {
      opacity: 0;
    }
    .corner {
      opacity: 0.5;
    }
    .glows {
      opacity: 1;
    }
    .vader {
      opacity: 0;
    }
    .vaderyolka {
      opacity: 0;
    }
    .yolka {
      opacity: 1;
      transform: translateX(33%);
    }
    .door {
      width: 0;
    }


  }

}
