<div class="derezhor" [ngClass]="'act-' + act">
  <div class="zerocontainer z1">
    <div class="bg"></div>
  </div>
  <div class="zerocontainer z2">
    <div class="corner"></div>
  </div>
  <div class="zerocontainer z3">
    <div class="glows">
      <div [ngClass]="getGlowClass(0)"></div>
      <div [ngClass]="getGlowClass(1)"></div>
      <div [ngClass]="getGlowClass(2)"></div>
      <div [ngClass]="getGlowClass(3)"></div>
      <div class="glow glow-crown"></div>
    </div>
  </div>
  <div class="zerocontainer z4">
    <div class="wall"><div class="lift"><div class="door"></div></div></div>
  </div>
  <div class="zerocontainer z5">
    <div class="vader">
      <img src="./assets/img/vader.png">
    </div>
  </div>
  <div class="zerocontainer z6">
    <div class="vaderyolka">
      <img src="./assets/img/vaderyolka.png">
    </div>
  </div>
  <div class="zerocontainer z7">
    <div class="yolka">
      <img src="./assets/img/yolka.png">
    </div>
  </div>
</div>
