<div class="logo"></div>
<div class="tools">
  <a routerLink="/about"><img src="assets/shield.gif"></a>
  <a routerLink="/members"><img src="assets/mail.gif"></a>
  <a routerLink="/settings"><img src="assets/settings.gif"></a>
  <a routerLink="/members"><img src="assets/members.gif"></a>
  <a href (click)="logoffClick($event)"><img src="assets/logoff.gif"></a>
</div>
<div class="channels" *ngIf="channelService?.menuChannels?.length">
  <div *ngFor="let city of channelService.menuCities">
    <a *ngIf="city?.capital?.id_place === 1"
       class="catalog"
       [routerLink]="'/channels'" 
       routerLinkActive="active-link">
      Каналы 
      <span *ngIf="userService.user.unreadChannels" class="counter">{{userService.user.unreadChannels}}</span>
    </a>
    <a *ngFor="let channel of city.channels"
       (click)="onItemClick(channel)"
       [class.star]="(channel.id_place !== 26) && (channel.id_place !== 5) && (channel.time_changed > channel.time_viewed)"
       routerLinkActive="active-link"
       [routerLink]="'/channel/' + channel.id_place">
       {{channel.shortName}}
    </a>
  </div>

</div>
