<div class="logo"></div>
<div class="tools">
  <a routerLink="/about"><img src="assets/shield.gif"></a>
  <a routerLink="/members"><img src="assets/mail.gif"></a>
  <a routerLink="/settings"><img src="assets/settings.gif"></a>
  <a routerLink="/members"><img src="assets/members.gif"></a>
  <a href (click)="logoffClick($event)"><img src="assets/logoff.gif"></a>
</div>
<div class="channels" *ngIf="channelService?.channels?.length">
  <div *ngFor="let city of channelService.cities">
    <a *ngFor="let channel of city.children"
       (click)="onItemClick(channel)"
       [class.black-star]=""
       [class.star]="(channel.id_place !== 26) && (channel.id_place !== 5) && (channel.time_changed > channel.time_viewed)"
       [routerLink]="'/channel/' + channel.id_place">{{channel.shortName}}</a>
  </div>
</div>
