:host {
  display: flex;
  flex-direction: column;

  .logo {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 146px;
    height: 133px;
    background-image: url('~src/assets/logo.gif');
  }

  .tools {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    z-index: 2;
    width: 30px;
    height: 210px;
    background-image: url('~src/assets/icons.gif');

    div {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .logoff {
      background-image: url('~src/assets/logoff.gif');
    }
  }

  .channels {
    position: absolute;
    z-index: 3;
    margin-left: 40px;
    margin-top: 106px;

    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.2rem;

      a {
        color: var(--color-black);
        text-decoration: none;
        max-width: 8.5rem;
        white-space: nowrap;
        overflow: hidden;
        &:hover {
          text-decoration: underline;
        }
        &:visited {
          color: var(--color-black);
        }
        &:not(:last-child) {
          margin-bottom: 0.2rem;
        }
      }
      :first-child {
        font-weight: bold;
      }
    }
  }

}
